<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Заголовок: фрагмент (до входа)</title>
        <link
            href="../../static/css/bootstrap.min.css"
            th:href="@{/css/bootstrap.min.css}"
            rel="stylesheet"
        />
        <link
            href="../../static/css/style.css"
            th:href="@{/css/style.css}"
            rel="stylesheet"
        />
    </head>

    <body>
        <header
            class="bg-dark text-center p-3 mb-5 border-bottom"
            th:fragment="anon-header"
        >
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-1 col-lg-1 my-auto">
                        <a href="#" th:href="@{/}">
                            <img
                                src="../../static/img/волк.png"
                                th:src="@{/img/волк.png}"
                                alt="волк"
                                width="32"
                                class="rounded-circle"
                            />
                        </a>
                    </div>
                    <nav class="col-12 col-md-7 col-lg-7 my-auto">
                        <ul
                            class="nav justify-content-center justify-content-md-center justify-content-lg-start"
                        >
                            <li>
                                <a
                                    href="#"
                                    th:href="@{/}"
                                    class="nav-link text-secondary"
                                    th:classapend="${#strings.equals(page, 'index')} ? text-secondary"
                                    >Главная</a
                                >
                            </li>
                            <li>
                                <a
                                    href="#"
                                    th:href="@{/sections}"
                                    class="nav-link text-wheat"
                                    th:classapend="${#strings.equals(page, 'sections')} ? text-secondary"
                                    >Разделы</a
                                >
                            </li>
                            <li>
                                <div class="dropdown">
                                    <a
                                        href="#"
                                        class="nav-link d-block text-wheat"
                                        th:classapend="${#strings.equals(page, 'topics')} ? text-secondary"
                                        id="topics"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false"
                                        >Темы</a
                                    >
                                    <ul
                                        class="dropdown-menu text-small"
                                        aria-labelledby="topics"
                                    >
                                        <li>
                                            <a class="dropdown-item" href="#"
                                                >В разделе "Главный"</a
                                            >
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider" />
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#"
                                                >В разделе "Новости"</a
                                            >
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider" />
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#"
                                                >В разделе "Обо всём"</a
                                            >
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a
                                    href="#"
                                    th:href="@{/users}"
                                    class="nav-link text-wheat"
                                    th:classapend="${#strings.equals(page, 'users')} ? text-secondary"
                                    >Участники</a
                                >
                            </li>
                            <li>
                                <a
                                    href="#"
                                    th:href="@{/moders}"
                                    class="nav-link text-wheat"
                                    th:classapend="${#strings.equals(page, 'moders')} ? text-secondary"
                                    >Модераторы</a
                                >
                            </li>
                            <li>
                                <a
                                    href="#"
                                    th:href="@{/admins}"
                                    class="nav-link text-wheat"
                                    th:classapend="${#strings.equals(page, 'admins')} ? text-secondary"
                                    >Администраторы</a
                                >
                            </li>
                        </ul>
                    </nav>
                    <div class="col-12 col-md-4 col-lg-4 my-auto">
                        <a
                            href="#"
                            th:href="@{/auth/login}"
                            class="btn btn-primary"
                            >Войти</a
                        >
                        <a
                            href="#"
                            th:href="@{/auth/registration}"
                            class="btn btn-warning"
                            >Зарегистрироваться</a
                        >
                    </div>
                </div>
            </div>
        </header>

        <script
            src="../../static/js/bootstrap.bundle.min.js"
            th:src="@{/js/bootstrap.bundle.min.js}"
        ></script>
    </body>
</html>
