<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Заголовок (anon)</title>
        <link
            href="../../static/css/bootstrap.min.css"
            th:href="@{/css/bootstrap.min.css}"
            rel="stylesheet"
        />
        <link
            href="../../static/css/style.css"
            th:href="@{/css/style.css}"
            rel="stylesheet"
        />
    </head>

    <body
        class="min-vh-100 bg-lightgray d-flex flex-column justify-content-start"
    >
        <!-- ---------------------------------------- Фрагмент: заголовок для анонимного пользователя ---------------------------------------- -->
        <header class="bg-dark text-center p-2 mb-5" th:fragment="anon-header">
            <div class="container">
                <!-- Главная картинка, навигационная панель и кнопки входа и регистрации -->
                <div
                    class="d-flex flex-row flex-wrap align-items-center justify-content-center justify-content-md-center justify-content-lg-center justify-content-xl-center justify-content-xxl-between"
                >
                    <!-- Главная картинка и навигационная панель -->
                    <div th:replace="~{fragments/headers-nav :: headers-nav}">
                        <!-- Статический просмотр -->
                        <ul class="nav">
                            <li class="nav-link">Один</li>
                            <li class="nav-link">Два</li>
                            <li class="nav-link">Три</li>
                            <li class="nav-link">Четыре</li>
                            <li class="nav-link">Пять</li>
                        </ul>
                    </div>
                    <!-- Кнопки входа и регистрации -->
                    <div class="m-1">
                        <!-- Кнопка входа -->
                        <a
                            href="#"
                            th:href="@{/auth/login}"
                            class="btn btn-primary m-1"
                            >Войти</a
                        >
                        <!-- Кнопка регистрации -->
                        <a
                            href="#"
                            th:href="@{/auth/registration}"
                            class="btn btn-warning m-1"
                            >Зарегистрироваться</a
                        >
                    </div>
                </div>
            </div>
        </header>

        <script
            src="../../static/js/bootstrap.bundle.min.js"
            th:src="@{/js/bootstrap.bundle.min.js}"
        ></script>
    </body>
</html>
