<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Заголовок (auth)</title>
        <link
            href="../../static/css/bootstrap.min.css"
            th:href="@{/css/bootstrap.min.css}"
            rel="stylesheet"
        />
        <link
            href="../../static/css/style.css"
            th:href="@{/css/style.css}"
            rel="stylesheet"
        />
    </head>

    <body
        class="min-vh-100 bg-lightgray d-flex flex-column justify-content-start"
    >
        <!-- ---------------------------------------- Сам фрагмент: заголовок для аутентифицированного пользователя ---------------------------------------- -->
        <header class="bg-dark text-center p-2 mb-5" th:fragment="auth-header">
            <div class="container">
                <!-- Главная картинка, навигационная панель и dropdown-аватарка пользователя -->
                <div
                    class="d-flex flex-row flex-wrap align-items-center justify-content-center justify-content-md-center justify-content-lg-center justify-content-xl-center justify-content-xxl-between"
                >
                    <!-- Главная картинка и навигационная панель -->
                    <div th:replace="~{fragments/headers-nav :: headers-nav}">
                        <!-- Статический просмотр -->
                        <ul class="nav">
                            <li class="nav-link">Один</li>
                            <li class="nav-link">Два</li>
                            <li class="nav-link">Три</li>
                            <li class="nav-link">Четыре</li>
                            <li class="nav-link">Пять</li>
                        </ul>
                    </div>
                    <!-- Dropdown-аватарка пользователя -->
                    <div class="m-2">
                        <div class="dropdown">
                            <!-- Сама аватарка -->
                            <a
                                id="user"
                                href="#"
                                class="d-block"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                            >
                                <img
                                    src="../../static/img/природа.png"
                                    th:src="@{/img/природа.png}"
                                    alt="Пользователь"
                                    width="32"
                                    class="rounded-circle"
                                />
                            </a>
                            <!-- Dropdown-список -->
                            <ul
                                aria-labelledby="user"
                                class="dropdown-menu text-small"
                            >
                                <li>
                                    <a
                                        href="#"
                                        th:href="@{/users/__${currentUser.id}__}"
                                        class="dropdown-item"
                                        >Профиль</a
                                    >
                                </li>
                                <hr class="dropdown-divider" />
                                <li sec:authorize="hasRole('OWNER')">
                                    <a
                                        href="#"
                                        th:href="@{/roles-authorities}"
                                        class="dropdown-item"
                                        >Роли и права</a
                                    >
                                    <hr class="dropdown-divider" />
                                </li>
                                <li>
                                    <form
                                        action="#"
                                        th:action="@{/auth/logout}"
                                        method="post"
                                    >
                                        <button
                                            type="submit"
                                            class="dropdown-item"
                                        >
                                            Выйти
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <script
            src="../../static/js/bootstrap.bundle.min.js"
            th:src="@{/js/bootstrap.bundle.min.js}"
        ></script>
    </body>
</html>
