<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Футер</title>
        <link
            href="../../static/css/bootstrap.min.css"
            th:href="@{/css/bootstrap.min.css}"
            rel="stylesheet"
        />
        <link
            href="../../static/css/style.css"
            th:href="@{/css/style.css}"
            rel="stylesheet"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="../../static/favicon/apple-touch-icon.png"
            th:href="@{/favicon/apple-touch-icon.png}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="../../static/favicon/favicon-32x32.png"
            th:href="@{/favicon/favicon-32x32.png}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="../../static/favicon/favicon-16x16.png"
            th:href="@{/favicon/favicon-16x16.png}"
        />
        <link
            href="../../static/favicon/site.webmanifest"
            th:href="@{/favicon/site.webmanifest}"
            rel="manifest"
        />
    </head>

    <body
        class="min-vh-100 bg-lightgray d-flex flex-column justify-content-end"
    >
        <!-- ---------------------------------------- Сам фрагмент: футер ---------------------------------------- -->
        <footer
            class="bg-dark text-white text-center p-1 mt-5"
            th:fragment="footer"
        >
            <div class="container">
                <!-- Блок с автором и блок с перечислением технологий -->
                <div
                    class="d-flex flex-row flex-wrap align-items-center justify-content-center justify-content-md-between justify-content-lg-between"
                >
                    <!-- Блок с автором -->
                    <div class="m-2">
                        <div>
                            <img
                                src="../../static/img/волк.png"
                                th:src="@{/img/волк.png}"
                                alt="Byb"
                                width="32"
                                class="rounded-circle"
                            />
                            <p class="mt-1">Byb</p>
                        </div>
                        <p>Санкт-Петербург</p>
                        <p>
                            <a
                                class="text-white"
                                href="https://github.com/pankoivan"
                                target="_blank"
                                >GitHub</a
                            >
                        </p>
                    </div>
                    <!-- Блок с перечислением технологий -->
                    <div class="d-flex flex-row justify-content-between fs-14">
                        <div class="mx-3 mx-md-3 mx-lg-5 my-2">
                            <p>HTML</p>
                            <p>CSS</p>
                            <p>Bootstrap 5</p>
                            <p>Thymeleaf</p>
                        </div>
                        <div class="mx-3 mx-md-3 mx-lg-5 my-2">
                            <p>Java 20</p>
                            <p>PostgreSQL</p>
                            <p>Spring Boot 3</p>
                            <p>Spring Framework</p>
                        </div>
                        <div class="mx-3 mx-md-3 mx-lg-5 my-2">
                            <p>Spring Security</p>
                            <p>Spring Data JPA</p>
                            <p>Lombok</p>
                            <p>Jackson</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
