<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <title>Навигационная панель заголовков</title>
        <link
            href="../../static/css/bootstrap.min.css"
            th:href="@{/css/bootstrap.min.css}"
            rel="stylesheet"
        />
        <link
            href="../../static/css/style.css"
            th:href="@{/css/style.css}"
            rel="stylesheet"
        />
    </head>

    <body
        class="min-vh-100 bg-lightgray d-flex flex-column justify-content-start"
    >
        <!-- ---------------------------------------- Фрагмент: навигационная панель заголовков ---------------------------------------- -->
        <div
            th:fragment="headers-nav"
            class="bg-dark d-flex flex-row flex-wrap align-items-center justify-content-center"
        >
            <!-- Главная картинка -->
            <div class="m-2">
                <a href="#" th:href="@{/}">
                    <img
                        alt="На главную"
                        src="../../static/img/волк.png"
                        th:src="@{/img/волк.png}"
                        width="32"
                    />
                </a>
            </div>
            <!-- Навигационная панель -->
            <nav class="m-2">
                <ul class="nav justify-content-center">
                    <!-- Главная -->
                    <li>
                        <a
                            href="#"
                            th:href="@{/}"
                            class="nav-link text-wheat"
                            th:classappend="${#strings.equals(page, 'index')} ? text-secondary"
                            >Главная</a
                        >
                    </li>
                    <!-- Разделы -->
                    <li>
                        <a
                            href="#"
                            th:href="@{/sections}"
                            class="nav-link text-wheat"
                            th:classappend="${#strings.equals(page, 'sections')} ? text-secondary"
                            >Разделы</a
                        >
                    </li>
                    <!-- Dropdown-пункт "темы": показывает список разделов -->
                    <li>
                        <div class="dropdown">
                            <!-- Сам пункт "темы" -->
                            <a
                                aria-expanded="false"
                                href="#"
                                id="topics"
                                class="nav-link text-wheat d-block"
                                data-bs-toggle="dropdown"
                                th:classappend="${#strings.equals(page, 'topics')} ? text-secondary"
                                >Темы</a
                            >
                            <!-- Dropdown-список -->
                            <ul
                                aria-labelledby="topics"
                                class="dropdown-menu text-small"
                            >
                                <!-- Статический и динамический просмотр -->
                                <li th:each="each, status : ${headerSections}">
                                    <a
                                        href="#"
                                        th:href="@{/sections/__${each.id}__/topics}"
                                        class="dropdown-item"
                                        th:text="'В разделе ' + '&quot;' + ${each.name} + '&quot;'"
                                        >В разделе "Главный"</a
                                    >
                                    <hr
                                        th:if="${!status.last}"
                                        class="dropdown-divider"
                                    />
                                </li>
                                <!-- Статический просмотр -->
                                <li th:if="${false}">
                                    <a class="dropdown-item" href="#"
                                        >В разделе "Новости"</a
                                    >
                                    <hr class="dropdown-divider" />
                                </li>
                                <li th:if="${false}">
                                    <a class="dropdown-item" href="#"
                                        >В разделе "Обо всём"</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- Все пользователи -->
                    <li>
                        <a
                            href="#"
                            th:href="@{/users}"
                            class="nav-link text-wheat"
                            th:classappend="${#strings.equals(page, 'users')} ? text-secondary"
                            >Все пользователи</a
                        >
                    </li>
                    <!-- Простые участники -->
                    <li>
                        <a
                            href="#"
                            th:href="@{/users/usual}"
                            class="nav-link text-wheat"
                            th:classappend="${#strings.equals(page, 'usual')} ? text-secondary"
                            >Простые участники</a
                        >
                    </li>
                    <!-- Модераторы -->
                    <li>
                        <a
                            href="#"
                            th:href="@{/users/moders}"
                            class="nav-link text-wheat"
                            th:classappend="${#strings.equals(page, 'moders')} ? text-secondary"
                            >Модераторы</a
                        >
                    </li>
                    <!-- Администраторы -->
                    <li>
                        <a
                            href="#"
                            th:href="@{/users/admins}"
                            class="nav-link text-wheat"
                            th:classappend="${#strings.equals(page, 'admins')} ? text-secondary"
                            >Администраторы</a
                        >
                    </li>
                </ul>
            </nav>
        </div>

        <script
            src="../../static/js/bootstrap.bundle.min.js"
            th:src="@{/js/bootstrap.bundle.min.js}"
        ></script>
    </body>
</html>
