<!DOCTYPE html>

<html
    lang="en"
    xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Сообщение</title>
        <link
            href="../../static/css/bootstrap.min.css"
            th:href="@{/css/bootstrap.min.css}"
            rel="stylesheet"
        />
        <link
            href="../../static/css/style.css"
            th:href="@{/css/style.css}"
            rel="stylesheet"
        />
    </head>

    <body
        class="min-vh-100 bg-lightgray d-flex flex-column justify-content-center"
    >
        <!-- Контейнер для фрагмента -->
        <div class="container">
            <!-- ---------------------------------------- Сам фрагмент: сообщение ---------------------------------------- -->
            <div
                th:fragment="message (message)"
                class="bg-dark text-white fs-14 rounded d-flex flex-row justify-content-between p-2"
            >
                <!-- Имя пользователя, аватарка и информация и бане -->
                <div
                    class="border-end border-white text-center left-message-block break-word pe-2 me-2"
                >
                    <!-- Имя пользователя -->
                    <div class="border-bottom border-white pb-1 mb-2">
                        <a
                            href="#"
                            th:href="@{/users/__${message.userWhoPosted.id}__}"
                            class="text-white text-decoration-none"
                            th:text="${message.userWhoPosted.nickname}"
                            >Имя пользователя</a
                        >
                    </div>
                    <!-- Аватарка -->
                    <div class="mb-1">
                        <img
                            alt="Пользователь"
                            src="../../static/img/природа.png"
                            th:src="@{/img/природа.png}"
                            class="rounded-circle"
                            width="72"
                        />
                    </div>
                    <!-- Информация о бане -->
                    <div
                        th:if="${message.userWhoPosted.currentBan}"
                        class="text-red fs-14 fst-italic"
                    >
                        <p class="mb-1">Забанен до</p>
                        <span
                            th:text="${message.userWhoPosted.currentBan.formattedEndDate}"
                            >09.11.2025</span
                        >
                    </div>
                </div>
                <!-- Информационная панель, сообщение и дата изменения -->
                <div class="flex-fill">
                    <!-- Информационная панель -->
                    <div
                        class="d-flex flex-row flex-wrap align-items-center justify-content-center justify-content-md-between justify-content-lg-between border-bottom border-white break-all px-2 pb-2"
                    >
                        <!-- Дата публикации сообщения -->
                        <div
                            class="d-flex flex-fill align-items-center justify-content-center text-center mx-2 my-1"
                        >
                            <span th:text="${message.formattedCreationDate}"
                                >18.07.2021 в 15:34:48</span
                            >
                        </div>
                        <!-- Кнопка лайка, dropdown-опция "кому понравилось", кнопка дизлайка, dropdown-опция "кому не понравилось" -->
                        <div
                            class="d-flex flex-row align-items-center justify-content-center mx-2 my-1"
                        >
                            <!-- Кнопка лайка -->
                            <div class="m-1">
                                <form
                                    action="#"
                                    th:action="@{/users/actions/like/to__${message.id}__} + ${requestParameters ?: ''}"
                                    method="post"
                                >
                                    <input
                                        type="hidden"
                                        name="isCancellation"
                                        th:value="${currentUser != null AND message.containsLikedUserById(currentUser.id)} ? true : false"
                                    />
                                    <input
                                        name="sourcePageUrlWithPagination"
                                        th:value="${sourcePageUrlWithPagination}"
                                        type="hidden"
                                    />
                                    <button
                                        type="submit"
                                        class="btn btn-sm btn-success"
                                        th:text="${message.likesCount}"
                                        th:classappend="${
                                                            currentUser == null
                                                            OR currentUser.id == message.userWhoPosted.id
                                                            OR !#authorization.expression('hasAuthority(''LIKE'')')
                                                            OR !isLikeDislikeButtonsEnabled
                                        } ? 'disabled'"
                                    >
                                        2
                                    </button>
                                </form>
                            </div>
                            <!-- Dropdown-опция "кому понравилось" -->
                            <div class="m-1">
                                <!-- "Кому понравилось" -->
                                <a
                                    href="#"
                                    id="whoLiked"
                                    aria-expanded="false"
                                    class="d-block text-decoration-none text-white fs-12"
                                    data-bs-toggle="dropdown"
                                    >Кому</a
                                >
                                <!-- Dropdown-список -->
                                <ul
                                    aria-labelledby="whoLiked"
                                    class="dropdown-menu text-small"
                                >
                                    <!-- Статический и динамический просмотр -->
                                    <li
                                        th:each="each, status : ${message.likes}"
                                    >
                                        <a
                                            href="#"
                                            th:href="@{/users/__${each.id}__}"
                                            class="dropdown-item"
                                            th:text="${each.user.nickname} + ' | ' + ${each.formattedCreationDate}"
                                            >SomeNICkn4me1</a
                                        >
                                        <hr
                                            th:if="${!status.last}"
                                            class="dropdown-divider"
                                        />
                                    </li>
                                    <!-- Статический просмотр -->
                                    <li th:if="${false}">
                                        <a class="dropdown-item" href="#"
                                            >SuperMan123</a
                                        >
                                        <hr class="dropdown-divider" />
                                    </li>
                                    <li th:if="${false}">
                                        <a class="dropdown-item" href="#"
                                            >CoolSg</a
                                        >
                                    </li>
                                </ul>
                            </div>
                            <!-- Кнопка дизлайка -->
                            <div class="m-1">
                                <form
                                    action="#"
                                    th:action="@{/users/actions/dislike/to__${message.id}__} + ${requestParameters ?: ''}"
                                    method="post"
                                >
                                    <input
                                        th:value="${currentUser != null AND message.containsDislikedUserById(currentUser.id)} ? true : false"
                                        name="isCancellation"
                                        type="hidden"
                                    />
                                    <input
                                        type="hidden"
                                        name="sourcePageUrlWithPagination"
                                        th:value="${sourcePageUrlWithPagination}"
                                    />
                                    <button
                                        type="submit"
                                        class="btn btn-sm btn-danger"
                                        th:text="${message.dislikesCount}"
                                        th:classappend="${
                                                            currentUser == null
                                                            OR currentUser.id == message.userWhoPosted.id
                                                            OR !#authorization.expression('hasAuthority(''LIKE'')')
                                                            OR !isLikeDislikeButtonsEnabled
                                        } ? 'disabled'"
                                    >
                                        1
                                    </button>
                                </form>
                            </div>
                            <!-- Dropdown-опция "кому не понравилось" -->
                            <div class="m-1">
                                <!-- "Кому не понравилось" -->
                                <a
                                    href="#"
                                    id="whoDisliked"
                                    aria-expanded="false"
                                    class="d-block text-decoration-none text-white fs-12"
                                    data-bs-toggle="dropdown"
                                    >Кому</a
                                >
                                <!-- Dropdown-список -->
                                <ul
                                    aria-labelledby="whoDisliked"
                                    class="dropdown-menu text-small"
                                >
                                    <!-- Статический и динамический просмотр -->
                                    <li
                                        th:each="each, status : ${message.dislikes}"
                                    >
                                        <a
                                            href="#"
                                            th:href="@{/users/__${each.id}__}"
                                            class="dropdown-item"
                                            th:text="${each.user.nickname} + ' | ' + ${each.formattedCreationDate}"
                                            >SomeNICkn4me1</a
                                        >
                                        <hr
                                            th:if="${!status.last}"
                                            class="dropdown-divider"
                                        />
                                    </li>
                                    <!-- Статический просмотр -->
                                    <li th:if="${false}">
                                        <a class="dropdown-item" href="#"
                                            >SuperMan123</a
                                        >
                                        <hr class="dropdown-divider" />
                                    </li>
                                    <li th:if="${false}">
                                        <a class="dropdown-item" href="#"
                                            >CoolSg</a
                                        >
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Кнопки редактирования и удаления -->
                        <div
                            th:if="${
                                        currentUser != null
                                        AND (
                                            currentUser.id == message.userWhoPosted.id
                                            AND #authorization.expression('hasAuthority(''WORK_WITH_OWN_MESSAGES'')')
                                            OR #authorization.expression('hasAuthority(''WORK_WITH_OTHER_MESSAGES'')')
                                        )
                                        AND isEditDeleteButtonsEnabled
                            }"
                            class="d-flex flex-fill align-items-center justify-content-center mx-2 my-1"
                        >
                            <!-- Статический и динамический просмотр -->
                            <div
                                th:replace="~{fragments/edit-delete-buttons :: edit-delete-buttons (
                                        editUrl =
                                            '/sections/__${sectionId}__/topics/__${topicId}__/messages/page__${currentPage}__/edit/__${message.id}__',
                                        deleteUrl =
                                            '/sections/__${sectionId}__/topics/__${topicId}__/messages/page__${currentPage}__/delete/__${message.id}__'
                                    )
                                }"
                                class="d-flex flex-row align-items-center justify-content-center"
                            >
                                <div>
                                    <button
                                        class="btn btn-sm btn-success rounded-circle m-1"
                                    >
                                        E
                                    </button>
                                </div>
                                <div>
                                    <button
                                        class="btn btn-sm btn-danger rounded-circle m-1"
                                    >
                                        D
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Сообщение -->
                    <div class="px-2 pt-2 pb-1">
                        <span class="break-all" th:text="${message.text}"
                            >Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Deserunt alias, laudantium quasi repellendus
                            error ipsa magnam repudiandae voluptatum harum
                            doloremque, ad tenetur vel. Corporis, reiciendis.
                            Necessitatibus soluta mollitia sed rerum cupiditate
                            laboriosam, commodi explicabo voluptatem, dolor
                            doloribus nihil accusantium sunt numquam ab autem
                            asperiores ad. Veritatis sunt doloribus atque
                            magni.</span
                        >
                    </div>
                    <!-- Дата изменения -->
                    <div
                        th:if="${message.editingDate}"
                        class="text-end fs-10 fst-italic"
                    >
                        <span
                            th:text="'Отредактировано: ' + ${message.formattedEditingDate}"
                            >Отредактировано: 10.01.2023 в 15:43:12</span
                        >
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
