<!DOCTYPE html>

<html
    lang="en"
    xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Сообщение</title>
        <link
            href="../../static/css/bootstrap.min.css"
            th:href="@{/css/bootstrap.min.css}"
            rel="stylesheet"
        />
        <link
            href="../../static/css/style.css"
            th:href="@{/css/style.css}"
            rel="stylesheet"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="../../static/favicon/apple-touch-icon.png"
            th:href="@{/favicon/apple-touch-icon.png}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="../../static/favicon/favicon-32x32.png"
            th:href="@{/favicon/favicon-32x32.png}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="../../static/favicon/favicon-16x16.png"
            th:href="@{/favicon/favicon-16x16.png}"
        />
        <link
            href="../../static/favicon/site.webmanifest"
            th:href="@{/favicon/site.webmanifest}"
            rel="manifest"
        />
    </head>

    <body
        class="min-vh-100 bg-lightgray d-flex flex-column justify-content-between"
    >
        <!-- ---------------------------------------- Статический заголовок ---------------------------------------- -->
        <div
            class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-header mb-5"
        >
            <h3>Статический заголовок для просмотра в браузере</h3>
        </div>

        <!-- Контейнер для фрагмента -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- ---------------------------------------- Сам фрагмент: сообщение ---------------------------------------- -->
                    <div
                        class="bg-dark text-white fs-14 rounded d-flex flex-row justify-content-between p-2"
                        th:fragment="message (message)"
                    >
                        <!-- Имя пользователя и аватарка -->
                        <div
                            class="border-end border-white text-center left-message-block break-word pe-2 me-2"
                        >
                            <!-- Имя пользователя -->
                            <div class="border-bottom border-white pb-1 mb-2">
                                <a
                                    href="#"
                                    th:href="@{/profiles/__${message.userWhoPosted.id}__}"
                                    class="text-white text-decoration-none"
                                    th:text="${message.userWhoPosted.nickname}"
                                    >Имя пользователя</a
                                >
                            </div>
                            <!-- Аватарка -->
                            <div>
                                <img
                                    src="../../static/img/природа.png"
                                    th:src="@{/img/природа.png}"
                                    alt="Пользователь"
                                    class="rounded-circle"
                                    width="72"
                                />
                            </div>
                        </div>
                        <!-- Информационная панель и сообщение -->
                        <div class="flex-fill">
                            <!-- Информационная панель -->
                            <div
                                class="d-flex flex-row flex-wrap align-items-center justify-content-center justify-content-md-between justify-content-lg-between border-bottom border-white px-2 pb-2"
                            >
                                <!-- Кнопка лайка -->
                                <div
                                    sec:authorize="isAuthenticated()"
                                    class="m-1"
                                >
                                    <form
                                        action="#"
                                        th:action="@{/likes/inner/save}"
                                        method="post"
                                    >
                                        <button
                                            type="submit"
                                            class="btn btn-sm btn-primary"
                                            th:text="'Нравится: ' + ${message.likesCount}"
                                        >
                                            Нравится: 9
                                        </button>
                                    </form>
                                </div>
                                <!-- Дата публикации сообщения -->
                                <div class="text-center m-1">
                                    <span th:text="${message.creationDate}"
                                        >18.07.2021 в 15:34:48</span
                                    >
                                </div>
                                <!-- Кнопки редактирования и удаления -->
                                <div
                                    th:if="${currentUser != null AND (
                                        currentUser.id == message.userWhoPosted.id
                                        AND #authorization.expression('hasAuthority(''WORK_WITH_OWN_MESSAGES'')')
                                        OR #authorization.expression('hasAuthority(''WORK_WITH_OTHER_MESSAGES'')')
                                    )}"
                                >
                                    <div
                                        th:replace="~{fragments/buttons :: edit-delete (
                                            editFormUrl =
                                                '/sections/__${message.topic.section.id}__/topics/__${message.topic.id}__/messages/page__${currentPage}__/inner/edit/__${message.id}__',
                                            deleteFormUrl =
                                                '/sections/__${message.topic.section.id}__/topics/__${message.topic.id}__/messages/page__${currentPage}__/inner/delete/__${message.id}__'
                                        )}"
                                        class="d-flex flex-row align-items-center justify-content-between"
                                    >
                                        <!-- Статический просмотр -->
                                        <div>
                                            <button
                                                class="btn btn-sm btn-success m-1"
                                            >
                                                Edit
                                            </button>
                                        </div>
                                        <div>
                                            <button
                                                class="btn btn-sm btn-danger m-1"
                                            >
                                                Delete
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Сообщение -->
                            <div class="px-2 pt-2 pb-1">
                                <span th:text="${message.text}"
                                    >Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Deserunt alias, laudantium
                                    quasi repellendus error ipsa magnam
                                    repudiandae voluptatum harum doloremque, ad
                                    tenetur vel. Corporis, reiciendis.
                                    Necessitatibus soluta mollitia sed rerum
                                    cupiditate laboriosam, commodi explicabo
                                    voluptatem, dolor doloribus nihil
                                    accusantium sunt numquam ab autem asperiores
                                    ad. Veritatis sunt doloribus atque
                                    magni.</span
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ---------------------------------------- Статический футер ---------------------------------------- -->
        <div
            class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-footer mt-5"
        >
            <h3>Статический футер для просмотра в браузере</h3>
        </div>
    </body>
</html>
