<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <title>Пагинация</title>
        <link
            href="../../static/css/bootstrap.min.css"
            th:href="@{/css/bootstrap.min.css}"
            rel="stylesheet"
        />
        <link
            href="../../static/css/style.css"
            th:href="@{/css/style.css}"
            rel="stylesheet"
        />
    </head>

    <body
        class="min-vh-100 bg-lightgray d-flex flex-column justify-content-center"
    >
        <!-- ---------------------------------------- Фрагмент: пагинация ---------------------------------------- -->
        <nav class="d-flex justify-content-center" th:fragment="pagination">
            <ul class="pagination">
                <!-- Статический и динамический просмотр -->
                <li class="page-item">
                    <a
                        href="#"
                        th:href="${sourcePageUrlWithoutPagination} + '/page' + ${currentPage != 1 ? currentPage - 1 : currentPage} + ${requestParameters}"
                        class="page-link"
                        >Назад</a
                    >
                </li>
                <!-- Динамический просмотр -->
                <li
                    th:each="i : ${#numbers.sequence(1, pagesCount)}"
                    class="page-item"
                    th:classappend="${i == currentPage} ? active"
                >
                    <a
                        href="#"
                        th:href="${sourcePageUrlWithoutPagination} + '/page' + ${i} + ${requestParameters}"
                        class="page-link"
                        th:text="${i}"
                        >1</a
                    >
                </li>
                <!-- Статический просмотр -->
                <li class="page-item" th:if="${false}">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item" th:if="${false}">
                    <a class="page-link" href="#">3</a>
                </li>
                <!-- Статический и динамический просмотр -->
                <li class="page-item">
                    <a
                        href="#"
                        th:href="${sourcePageUrlWithoutPagination} + '/page' + ${currentPage != pagesCount ? currentPage + 1 : currentPage}  + ${requestParameters}"
                        class="page-link"
                        >Вперёд</a
                    >
                </li>
            </ul>
        </nav>
    </body>
</html>
