<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Раздел</title>
        <link
            href="../../static/css/bootstrap.min.css"
            th:href="@{/css/bootstrap.min.css}"
            rel="stylesheet"
        />
        <link
            href="../../static/css/style.css"
            th:href="@{/css/style.css}"
            rel="stylesheet"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="../../static/favicon/apple-touch-icon.png"
            th:href="@{/favicon/apple-touch-icon.png}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="../../static/favicon/favicon-32x32.png"
            th:href="@{/favicon/favicon-32x32.png}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="../../static/favicon/favicon-16x16.png"
            th:href="@{/favicon/favicon-16x16.png}"
        />
        <link
            href="../../static/favicon/site.webmanifest"
            th:href="@{/favicon/site.webmanifest}"
            rel="manifest"
        />
    </head>

    <body
        class="min-vh-100 vh-100 bg-lightgray d-flex flex-column justify-content-between"
    >
        <!-- ---------------------------------------- Статический заголовок ---------------------------------------- -->
        <div
            class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-header mb-5"
        >
            <h3>Статический заголовок для просмотра в браузере</h3>
        </div>

        <!-- Контейнер для фрагмента -->
        <div class="container">
            <div class="col-12">
                <!-- ---------------------------------------- Сам фрагмент: раздел ---------------------------------------- -->
                <div class="bg-dark text-white rounded px-2 pt-2 pb-1 mb-5">
                    <!-- Кнопки редактирования и удаления -->
                    <div
                        sec:authorize="hasAuthority('LATER')"
                        class="text-center border-bottom border-white pb-2"
                    >
                        <!-- Кнопка редактирования -->
                        <a href="#" class="btn btn-sm btn-success">
                            <img
                                src="../../static/img/edit.png"
                                alt="edit"
                                width="16"
                                class="mb-1"
                            />
                        </a>
                        <!-- Кнопка удаления -->
                        <a href="#" class="btn btn-sm btn-danger">
                            <img
                                src="../../static/img/delete.png"
                                alt="edit"
                                width="16"
                                class="mb-1"
                            />
                        </a>
                    </div>
                    <!-- Основная часть -->
                    <div>
                        <!-- Заголовок и описание -->
                        <div class="text-start m-1">
                            <!-- Заголовок -->
                            <h5 class="mb-1">
                                <a href="#" class="text-white link-offset-2"
                                    >Главный</a
                                >
                            </h5>
                            <!-- Описание -->
                            <p class="mb-1">
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Quisquam officiis assumenda
                                totam, numquam architecto quod delectus enim
                                maxime odit error.
                            </p>
                        </div>
                        <!-- Количество тем, количество сообщений и недавнее сообщение -->
                        <div
                            class="d-flex flex-row flex-wrap justify-content-center justify-content-md-center justify-content-lg-between"
                        >
                            <!-- Количество тем -->
                            <div class="text-center mx-5 my-1">
                                <p class="mb-1">Тем:</p>
                                <p class="mb-1">124</p>
                            </div>
                            <!-- Количество сообщений -->
                            <div class="text-center mx-5 my-1">
                                <p class="mb-1">Сообщений:</p>
                                <p class="mb-1">8934</p>
                            </div>
                            <!-- Недавнее сообщение -->
                            <div class="text-center mx-5 my-1">
                                <p class="mb-1">
                                    <a href="#" class="text-white"
                                        >Недавнее сообщение</a
                                    >
                                </p>
                                <p class="mb-1 fs-12">24.04.2011</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ---------------------------------------- Статический футер ---------------------------------------- -->
        <div
            class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-footer mt-5"
        >
            <h3>Статический футер для просмотра в браузере</h3>
        </div>
    </body>
</html>
