<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Форма создания раздела/темы</title>
        <link
            href="../../static/css/bootstrap.min.css"
            th:href="@{/css/bootstrap.min.css}"
            rel="stylesheet"
        />
        <link
            href="../../static/css/style.css"
            th:href="@{/css/style.css}"
            rel="stylesheet"
        />
    </head>

    <body
        class="min-vh-100 bg-lightgray d-flex flex-column justify-content-between"
    >
        <!-- ---------------------------------------- Фрагмент: форма создания раздела/темы ---------------------------------------- -->
        <div class="container" th:fragment="form (titlePart, submitUrl)">
            <div class="row">
                <div class="col-12 col-md-8 col-lg-6 mx-auto">
                    <!-- Непосредственно блок создания раздела/темы -->
                    <div class="bg-dark text-white rounded px-3 py-2">
                        <!-- Заголовок и картинка "на главную" -->
                        <div
                            class="d-flex flex-row justify-content-between border-bottom border-white"
                        >
                            <!-- Заголовок -->
                            <div>
                                <h5
                                    class="mb-1"
                                    th:text="'Создание ' + ${titlePart}"
                                >
                                    Создание раздела/темы
                                </h5>
                                <p
                                    class="mb-2"
                                    th:text="'Введите название ' + ${titlePart} + ' и описание'"
                                >
                                    Введите название раздела/темы и описание
                                </p>
                            </div>
                            <!-- Картинка "на главную" -->
                            <div>
                                <a
                                    href="../../templates/index.html"
                                    th:href="@{/}"
                                >
                                    <img
                                        alt="На главную"
                                        src="../../static/img/волк.png"
                                        th:src="@{/img/волк.png}"
                                        width="48"
                                        class="mb-2"
                                    />
                                </a>
                            </div>
                        </div>
                        <!-- Сама форма -->
                        <form
                            action="#"
                            th:action="${submitUrl} + ${requestParameters ?: ''}"
                            method="post"
                            class="my-3"
                            th:object="${object}"
                        >
                            <input type="hidden" th:field="*{id}" />
                            <!-- Блок с возможными ошибками -->
                            <div
                                th:if="${error}"
                                class="text-center text-red my-3"
                            >
                                <span th:text="${error}">Текст ошибки</span>
                            </div>
                            <!-- Название -->
                            <div class="text-center mb-3">
                                <label for="name" class="form-label"
                                    >Название</label
                                >
                                <input
                                    id="name"
                                    type="text"
                                    class="form-control"
                                    placeholder="Общение"
                                    th:field="*{name}"
                                />
                            </div>
                            <!-- Описание -->
                            <div class="text-center mb-4">
                                <label for="description" class="form-label"
                                    >Описание</label
                                >
                                <textarea
                                    id="description"
                                    class="form-control"
                                    placeholder="Информативное описание длиной до 200 символов..."
                                    th:field="*{description}"
                                ></textarea>
                            </div>
                            <!-- Кнопка отправки -->
                            <div class="text-center">
                                <button
                                    type="submit"
                                    class="btn btn-primary"
                                    th:text="${formSubmitButtonText}"
                                >
                                    Создать
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
