<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Сортировка</title>
        <link
            href="../../static/css/bootstrap.min.css"
            th:href="@{/css/bootstrap.min.css}"
            rel="stylesheet"
        />
        <link
            href="../../static/css/style.css"
            th:href="@{/css/style.css}"
            rel="stylesheet"
        />
    </head>

    <body
        class="min-vh-100 bg-lightgray d-flex flex-column justify-content-center"
    >
        <!-- Контейнер для фрагмента -->
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8 col-lg-6 mx-auto">
                    <!-- ---------------------------------------- Сам фрагмент: форма сортировки ---------------------------------------- -->
                    <form
                        th:fragment="sort"
                        action="#"
                        th:action="${sortingSubmitUrl}"
                        method="post"
                        class="d-flex flex-row align-items-center justify-content-between bg-dark rounded text-white px-1 py-3"
                        th:object="${sortingObject}"
                    >
                        <input
                            type="hidden"
                            name="sortingOptionName"
                            th:value="${sortingOptionName}"
                        />
                        <input
                            type="hidden"
                            name="sourcePageUrlWithoutPage"
                            th:value="${sourcePageUrlWithoutPage}"
                        />
                        <!-- Критерий сортировки -->
                        <div class="mx-2">
                            <select class="form-select" th:field="*{property}">
                                <!-- Статический и динамический просмотр -->
                                <option
                                    th:each="each : ${sortingProperties}"
                                    th:value="${each}"
                                    th:text="${each.alias}"
                                >
                                    Один
                                </option>
                                <!-- Статический просмотр -->
                                <option th:if="${false}" value="1">Два</option>
                                <option th:if="${false}" value="2">Три</option>
                            </select>
                        </div>
                        <!-- Направление сортировки -->
                        <div class="mx-2">
                            <select class="form-select" th:field="*{direction}">
                                <!-- Статический и динамический просмотр -->
                                <option
                                    th:each="each : ${sortingDirections}"
                                    th:value="${each}"
                                    th:text="${#strings.equals(each.name, 'ASC')} ? 'По возрастанию' : 'По убыванию'"
                                >
                                    Один
                                </option>
                                <!-- Статический просмотр -->
                                <option th:if="${false}" value="1">Два</option>
                                <option th:if="${false}" value="2">Три</option>
                            </select>
                        </div>
                        <!-- Кнопка применения сортировки -->
                        <div class="mx-2">
                            <button type="submit" class="btn btn-primary">
                                Применить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
