<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Тема</title>
        <link
            href="../../static/css/bootstrap.min.css"
            th:href="@{/css/bootstrap.min.css}"
            rel="stylesheet"
        />
        <link
            href="../../static/css/style.css"
            th:href="@{/css/style.css}"
            rel="stylesheet"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="../../static/favicon/apple-touch-icon.png"
            th:href="@{/favicon/apple-touch-icon.png}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="../../static/favicon/favicon-32x32.png"
            th:href="@{/favicon/favicon-32x32.png}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="../../static/favicon/favicon-16x16.png"
            th:href="@{/favicon/favicon-16x16.png}"
        />
        <link
            href="../../static/favicon/site.webmanifest"
            th:href="@{/favicon/site.webmanifest}"
            rel="manifest"
        />
    </head>

    <body
        class="min-vh-100 vh-100 bg-lightgray d-flex flex-column justify-content-between"
    >
        <!-- ---------------------------------------- Статический заголовок ---------------------------------------- -->
        <div
            class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-header mb-5"
        >
            <h3>Статический заголовок для просмотра в браузере</h3>
        </div>

        <!-- Контейнер для фрагмента -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- ---------------------------------------- Сам фрагмент: тема ---------------------------------------- -->
                    <div
                        class="bg-dark text-white rounded px-2 pt-2 pb-1"
                        th:fragment="topic (topic)"
                    >
                        <!-- Верхняя панель темы -->
                        <div class="border-bottom border-white pb-1">
                            <!-- Кнопки редактирования и удаления -->
                            <div
                                th:replace="~{fragments/buttons :: edit-delete
                                    (editFormUrl = '/sections/__${topic.section.id}__/topics/inner/edit/__${topic.id}__',
                                    deleteFormUrl = '/sections/__${topic.section.id}__/topics/inner/delete/__${topic.id}__')}"
                                class="d-flex flex-row align-items-center justify-content-between"
                            >
                                <!-- Статический просмотр -->
                                <div>
                                    <button class="btn btn-sm btn-success m-1">
                                        Edit
                                    </button>
                                </div>
                                <div>
                                    <button class="btn btn-sm btn-danger m-1">
                                        Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- Основная часть -->
                        <div>
                            <!-- Заголовок и описание -->
                            <div class="text-start m-1">
                                <!-- Заголовок -->
                                <h5 class="mb-1">
                                    <a
                                        href="#"
                                        th:href="@{/sections/__${topic.section.id}__/topics/__${topic.id}__/messages}"
                                        class="text-white link-offset-2"
                                        th:text="${topic.name}"
                                        >Флуд</a
                                    >
                                </h5>
                                <!-- Описание -->
                                <p class="mb-1" th:text="${topic.description}">
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Quisquam officiis
                                    assumenda totam, numquam architecto quod
                                    delectus enim maxime odit error.
                                </p>
                            </div>
                            <!-- Автор, количество сообщений, количество лайков и недавнее сообщение -->
                            <div
                                class="d-flex flex-row flex-wrap justify-content-center justify-content-md-center justify-content-lg-between mb-1"
                            >
                                <!-- Автор -->
                                <div class="mx-4 my-2">
                                    <div
                                        class="d-flex flex-row align-items-center justify-content-between"
                                    >
                                        <div class="me-1">
                                            <img
                                                src="../../static/img/природа.png"
                                                th:src="@{/img/природа.png}"
                                                alt="Пользователь"
                                                class="rounded-circle"
                                                width="42"
                                            />
                                        </div>
                                        <div class="my-auto">
                                            <a
                                                href="#"
                                                th:href="@{/profiles/__${topic.userWhoCreated.id}__}"
                                                class="text-white"
                                                th:text="${topic.userWhoCreated.nickname}"
                                                >Имя пользователя</a
                                            >
                                        </div>
                                    </div>
                                </div>
                                <!-- Количество сообщений -->
                                <div class="text-center mx-5 my-1">
                                    <p class="mb-1">Сообщений:</p>
                                    <p
                                        class="mb-1"
                                        th:text="${topic.messagesCount}"
                                    >
                                        1847
                                    </p>
                                </div>
                                <!-- Количество лайков -->
                                <div class="text-center mx-5 my-1">
                                    <p class="mb-1">Лайков:</p>
                                    <p
                                        class="mb-1"
                                        th:text="${topic.likesCount}"
                                    >
                                        8901
                                    </p>
                                </div>
                                <!-- Недавнее сообщение -->
                                <div
                                    th:if="${topic.recentMessage}"
                                    class="text-center mx-5 my-1"
                                >
                                    <p class="mb-1">
                                        <a
                                            href="#"
                                            th:href="@{/sections/__${topic.section.id}__/topics/__${topic.id}__/messages}"
                                            class="text-white"
                                            >Недавнее сообщение</a
                                        >
                                    </p>
                                    <p
                                        class="mb-1 fs-12"
                                        th:text="${topic.recentMessage.creationDate}"
                                    >
                                        24.04.2011
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Дата создания -->
                        <div class="text-center border-top border-white pt-1">
                            <span th:text="${topic.creationDate}"
                                >Создана: 19.02.2015</span
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ---------------------------------------- Статический футер ---------------------------------------- -->
        <div
            class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-footer mt-5"
        >
            <h3>Статический футер для просмотра в браузере</h3>
        </div>
    </body>
</html>
