<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Тема</title>
        <link
            href="../../static/css/bootstrap.min.css"
            th:href="@{/css/bootstrap.min.css}"
            rel="stylesheet"
        />
        <link
            href="../../static/css/style.css"
            th:href="@{/css/style.css}"
            rel="stylesheet"
        />
    </head>

    <body
        class="min-vh-100 bg-lightgray d-flex flex-column justify-content-center"
    >
        <!-- Контейнер для фрагмента -->
        <div class="container">
            <!-- ---------------------------------------- Сам фрагмент: тема ---------------------------------------- -->
            <div
                th:fragment="topic (topic)"
                class="bg-dark text-white rounded px-2 py-1"
            >
                <!-- Верхняя панель темы -->
                <div
                    class="border-bottom border-white pb-1"
                    th:if="${
                                currentUser != null
                                AND (
                                    currentUser.id == topic.userWhoCreated.id
                                    AND #authorization.expression('hasAuthority(''WORK_WITH_OWN_TOPICS'')')
                                    OR #authorization.expression('hasAuthority(''WORK_WITH_OTHER_TOPICS'')')
                                )
                                AND isEditDeleteButtonsEnabled
                    }"
                >
                    <!-- Кнопки редактирования и удаления -->
                    <div
                        th:replace="~{fragments/edit-delete-buttons :: edit-delete-buttons (
                                editUrl = '/sections/__${sectionId}__/topics/edit/__${topic.id}__',
                                deleteUrl = '/sections/__${sectionId}__/topics/delete/__${topic.id}__'
                            )
                        }"
                        class="d-flex flex-row align-items-center justify-content-between"
                    >
                        <!-- Статический просмотр -->
                        <div>
                            <button
                                class="btn btn-sm btn-success rounded-circle m-1"
                            >
                                E
                            </button>
                        </div>
                        <div>
                            <button
                                class="btn btn-sm btn-danger rounded-circle m-1"
                            >
                                D
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Основная часть -->
                <div>
                    <!-- Заголовок и описание -->
                    <div class="text-start m-1">
                        <!-- Заголовок -->
                        <h5 class="mb-1">
                            <a
                                href="#"
                                th:href="@{/sections/__${topic.section.id}__/topics/__${topic.id}__/messages}"
                                class="text-white link-offset-2"
                                th:text="${topic.name}"
                                >Флуд</a
                            >
                        </h5>
                        <!-- Описание -->
                        <p class="mb-1" th:text="${topic.description}">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Quisquam officiis assumenda totam, numquam
                            architecto quod delectus enim maxime odit error.
                        </p>
                    </div>
                    <!-- Автор, количество сообщений, количество лайков и недавнее сообщение -->
                    <div
                        class="d-flex flex-row flex-wrap justify-content-center justify-content-md-center justify-content-lg-between mb-1"
                    >
                        <!-- Автор -->
                        <div class="mx-4 my-2">
                            <div
                                class="d-flex flex-row align-items-center justify-content-between"
                            >
                                <div class="me-1">
                                    <img
                                        alt="Пользователь"
                                        src="../../static/img/природа.png"
                                        th:src="@{/uploads/__${topic.userWhoCreated.userInformation.linkToImage}__}"
                                        class="rounded-circle"
                                        width="42"
                                    />
                                </div>
                                <div class="my-auto">
                                    <a
                                        href="#"
                                        th:href="@{/users/__${topic.userWhoCreated.id}__}"
                                        class="text-white"
                                        th:text="${topic.userWhoCreated.nickname}"
                                        >Имя пользователя</a
                                    >
                                </div>
                            </div>
                        </div>
                        <!-- Количество сообщений -->
                        <div class="text-center mx-5 my-1">
                            <p class="mb-1">Сообщений:</p>
                            <p class="mb-1" th:text="${topic.messagesCount}">
                                1847
                            </p>
                        </div>
                        <!-- Количество лайков -->
                        <div class="text-center mx-5 my-1">
                            <p class="mb-1">Лайков:</p>
                            <p class="mb-1" th:text="${topic.likesCount}">
                                8901
                            </p>
                        </div>
                        <!-- Недавнее сообщение -->
                        <div
                            th:if="${topic.recentMessage}"
                            class="text-center mx-5 my-1"
                        >
                            <p class="mb-1">
                                <a
                                    href="#"
                                    th:href="@{/sections/__${topic.section.id}__/topics/__${topic.id}__/messages}"
                                    class="text-white"
                                    >Недавнее сообщение</a
                                >
                            </p>
                            <p
                                class="mb-1 fs-12"
                                th:text="${topic.recentMessage.formattedCreationDate}"
                            >
                                24.04.2011
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Дата создания -->
                <div class="text-center border-top border-white pt-1">
                    <span th:text="'Создана: ' + ${topic.formattedCreationDate}"
                        >Создана: 19.02.2015</span
                    >
                </div>
            </div>
        </div>
    </body>
</html>
