<!DOCTYPE html>

<html
    lang="en"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
    xmlns:th="https://www.thymeleaf.org"
>
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <title>Пользователь</title>
        <link
            href="../../static/css/bootstrap.min.css"
            th:href="@{/css/bootstrap.min.css}"
            rel="stylesheet"
        />
        <link
            href="../../static/css/style.css"
            th:href="@{/css/style.css}"
            rel="stylesheet"
        />
    </head>

    <body
        class="min-vh-100 bg-lightgray d-flex flex-column justify-content-center"
    >
        <!-- Контейнер для фрагмента -->
        <div class="container">
            <!-- ---------------------------------------- Сам фрагмент: пользователь ---------------------------------------- -->
            <div
                th:fragment="user (user)"
                class="bg-dark text-white rounded d-flex flex-row flex-wrap align-items-center justify-content-center justify-content-lg-between p-1"
            >
                <!-- Аватарка с именем -->
                <div class="mx-4 my-2">
                    <div
                        class="d-flex flex-row align-items-center justify-content-between"
                    >
                        <div class="me-1">
                            <img
                                alt="Пользователь"
                                src="../../static/img/природа.png"
                                th:src="@{/img/природа.png}"
                                class="rounded-circle"
                                width="32"
                            />
                        </div>
                        <div class="my-auto">
                            <a
                                href="#"
                                th:href="@{/users/__${user.id}__}"
                                class="text-white"
                                th:text="${user.nickname}"
                                >Имя пользователя</a
                            >
                        </div>
                    </div>
                </div>
                <!-- Роль -->
                <div class="mx-4 my-2">
                    <span th:text="${user.role.alias}">Модератор</span>
                </div>
                <!-- Дата регистрации -->
                <div class="mx-4 my-2">
                    <span th:text="${user.formattedRegistrationDate}"
                        >21.10.2022 в 11:34:58</span
                    >
                </div>
                <!-- Репутация -->
                <div class="mx-4 my-2">
                    <span th:text="${user.reputation}">154</span>
                </div>
                <!-- Кнопки присвоения/снятия модераторства, присвоения/снятия администраторства, бана и удаления -->
                <div
                    th:if="${
                                currentUser != null AND currentUser.id != user.id
                                AND !user.hasRole('ROLE_OWNER')
                                AND #authorization.expression('hasAnyAuthority(''BAN_AND_UNBAN'', ''DELETE_USERS'',
                                    ''ASSIGN_AND_REMOVE_MODERS'', ''ASSIGN_AND_REMOVE_ADMINS'')')
                    }"
                    class="d-flex flex-row align-items-center justify-content-between mx-4 my-2"
                >
                    <!-- Кнопка присвоения/снятия модераторства -->
                    <form
                        class="mx-1"
                        action="#"
                        th:action="${user.hasRole('ROLE_MODER')} ? '/users/actions/assign-user/__${user.id}__'
                                                                 : '/users/actions/assign-moder/__${user.id}__'"
                        method="post"
                        th:if="${!user.hasRole('ROLE_ADMIN') AND #authorization.expression('hasAuthority(''ASSIGN_AND_REMOVE_MODERS'')')}"
                    >
                        <input
                            type="hidden"
                            name="sourcePage"
                            th:value="${sourcePageUrlWithPage}"
                        />
                        <input
                            type="hidden"
                            name="sourcePageUrlWithPage"
                            th:value="${sourcePageUrlWithPage}"
                        />
                        <button
                            type="submit"
                            class="btn btn-sm"
                            th:classappend="${user.hasRole('ROLE_MODER')} ? 'btn-danger' : 'btn-primary'"
                        >
                            <img
                                alt="Назначить модератором"
                                class="mb-1"
                                src="../../static/img/moder.png"
                                th:src="@{/img/moder.png}"
                                th:alt="${user.hasRole('ROLE_MODER')} ? 'Снять модераторство' : 'Назначить модератором'"
                                width="16"
                            />
                        </button>
                    </form>
                    <!-- Кнопка присвоения/снятия администраторства -->
                    <form
                        sec:authorize="hasAuthority('ASSIGN_AND_REMOVE_ADMINS')"
                        th:action="${user.hasRole('ROLE_ADMIN')} ? '/users/actions/assign-user/__${user.id}__'
                                                                 : '/users/actions/assign-admin/__${user.id}__'"
                        action="#"
                        class="mx-1"
                        method="post"
                    >
                        <input
                            type="hidden"
                            name="sourcePage"
                            th:value="${sourcePageUrlWithPage}"
                        />
                        <input
                            type="hidden"
                            name="sourcePageUrlWithPage"
                            th:value="${sourcePageUrlWithPage}"
                        />
                        <button
                            type="submit"
                            class="btn btn-sm"
                            th:classappend="${user.hasRole('ROLE_ADMIN')} ? 'btn-danger' : 'btn-primary'"
                        >
                            <img
                                alt="Назначить администратором"
                                th:alt="${user.hasRole('ROLE_ADMIN')} ? 'Снять администраторство' : 'Назначить администратором'"
                                class="mb-1"
                                th:src="@{/img/admin.png}"
                                src="../../static/img/admin.png"
                                width="16"
                            />
                        </button>
                    </form>
                    <!-- Кнопка бана/разбана -->
                    <form
                        sec:authorize="hasAuthority('BAN_AND_UNBAN')"
                        action="#"
                        th:action="${user.isActive()} ? '/users/actions/ban/__${user.id}__'
                                                      : '/users/actions/unban/__${user.id}__'"
                        class="mx-1"
                        method="post"
                    >
                        <input
                            name="sourcePageUrlWithPage"
                            th:value="${sourcePageUrlWithPage}"
                            type="hidden"
                        />
                        <button
                            type="submit"
                            class="btn btn-sm"
                            th:classappend="${user.isActive()} ? 'btn-danger' : 'btn-primary'"
                        >
                            <img
                                alt="Забанить"
                                th:alt="${user.isActive()} ? 'Забанить' : 'Разбанить'"
                                class="mb-1"
                                th:src="@{/img/ban.png}"
                                src="../../static/img/ban.png"
                                width="16"
                            />
                        </button>
                    </form>
                    <!-- Кнопка удаления -->
                    <form
                        sec:authorize="hasAuthority('DELETE_USERS')"
                        action="#"
                        th:action="@{/users/actions/delete/__${user.id}__}"
                        class="mx-1"
                        method="post"
                    >
                        <button class="btn btn-sm btn-danger" type="submit">
                            <img
                                alt="Удалить"
                                src="../../static/img/delete.png"
                                th:src="@{/img/delete.png}"
                                class="mb-1"
                                width="16"
                            />
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
