.bg-lightgray {
    background-color: lightgray;
}

.text-wheat {
    color: wheat;
}

.text-aliceblue {
    color: aliceblue;
}

.login {
    padding: 0.75em;
}

.login-title {
    font-size: 20px;
}

.login-inscriptions {
    font-size: 16px;
}

.login-error {
    color: red;
    font-size: 16px;
}

.footer-author-inscriptions {
    font-size: 14px;
}

.footer-inscriptions {
    font-size: 12px;
}

.section {
    padding: 0.5em;
}

.fs-20 {
    font-size: 20px;
}

.message-header {
    padding: 0.7em;
}

.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

.fs-18 {
    font-size: 18px;
}

.btn__like {
}

.carousel-control-prev {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 1;
}

.carousel-control-next {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 1;
}
