/* Стили фона */

.bg-lightgray {
    background-color: lightgray;
}

/* Стили для элементов при статическом просмотре в браузере */

.static-header {
    height: 75px;
}

.static-footer {
    height: 185px;
}

.static-block {
    height: 225px;
}

.static-block-mini {
    height: 150px;
}

.static-block-micro {
    height: 50px;
}

/* Стили текста */

.text-wheat {
    color: wheat;
}

.text-red {
    color: red;
}

.text-blue {
    color: blue;
}

.text-green {
    color: green;
}

.break-word {
    word-wrap: break-word;
}

.break-all {
    word-wrap: break-word;
    word-break: break-all;
}

.fw-bold {
    font-weight: bold;
}

.fst-italic {
    font-style: italic;
}

.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

/* Остальные */

.left-message-block {
    max-width: 135px;
}
