<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <title th:text="${title}">Баны</title>
        <link
            href="../static/css/bootstrap.min.css"
            th:href="@{/css/bootstrap.min.css}"
            rel="stylesheet"
        />
        <link
            href="../static/css/style.css"
            th:href="@{/css/style.css}"
            rel="stylesheet"
        />
        <link
            href="../static/favicon/apple-touch-icon.png"
            th:href="@{/favicon/apple-touch-icon.png}"
            rel="apple-touch-icon"
            sizes="180x180"
        />
        <link
            href="../static/favicon/favicon-32x32.png"
            th:href="@{/favicon/favicon-32x32.png}"
            rel="icon"
            sizes="32x32"
            type="image/png"
        />
        <link
            href="../static/favicon/favicon-16x16.png"
            th:href="@{/favicon/favicon-16x16.png}"
            rel="icon"
            sizes="16x16"
            type="image/png"
        />
    </head>

    <body
        class="min-vh-100 bg-lightgray d-flex flex-column justify-content-between"
    >
        <!-- ---------------------------------------- Заголовок ---------------------------------------- -->
        <div
            th:replace="${currentUser} ? ~{fragments/auth-header :: auth-header} : ~{fragments/anon-header :: anon-header}"
        >
            <div
                class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-header mb-5"
            >
                <h3>Статический заголовок для просмотра в браузере</h3>
            </div>
        </div>

        <!-- ---------------------------------------- Основная часть страницы ---------------------------------------- -->
        <div class="container">
            <!-- Сортировка и поиск -->
            <div
                class="d-flex flex-row flex-wrap align-items-center justify-content-center justify-content-lg-between mb-5"
            >
                <!-- Сортировка -->
                <div class="m-2" th:insert="~{fragments/sort :: sort}">
                    <div
                        class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-block-micro"
                    >
                        <h3>Статический блок для просмотра в браузере</h3>
                    </div>
                </div>
                <!-- Поиск -->
                <div class="m-2" th:insert="~{fragments/search :: search}">
                    <div
                        class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-block-micro"
                    >
                        <h3>Статический блок для просмотра в браузере</h3>
                    </div>
                </div>
            </div>
            <div class="mb-5">
                <!-- Список банов -->
                <div
                    class="bg-dark text-white rounded d-flex flex-row flex-wrap justify-content-center justify-content-lg-between break-all px-3 py-2"
                    th:classappend="${!status.last} ? mb-2"
                    th:each="each, status : ${bans}"
                >
                    <!-- Ник забаненного -->
                    <div class="m-2">
                        <p class="mb-0">
                            <a
                                class="text-white"
                                href="#"
                                th:href="@{/users/__${each.user.id}__}"
                                th:text="${each.user.nickname}"
                                >Ник забаненного</a
                            >
                        </p>
                    </div>
                    <!-- Дата начала -->
                    <div class="m-2">
                        <p class="mb-0" th:text="${each.formattedStartDate}">
                            21.11.2023
                        </p>
                    </div>
                    <!-- Дата окончания -->
                    <div class="m-2">
                        <p class="mb-0" th:text="${each.formattedEndDate}">
                            22.12.2024
                        </p>
                    </div>
                    <!-- Причина -->
                    <div class="m-2">
                        <p class="mb-0" th:text="${each.reason}">
                            Какая-то причина
                        </p>
                    </div>
                    <!-- Ник забанившего -->
                    <div class="m-2">
                        <p class="mb-0">
                            <a
                                href="#"
                                th:href="@{/users/__${each.userWhoAssigned.id}__}"
                                class="text-white"
                                th:text="${each.userWhoAssigned.nickname}"
                                >Ник забанившего</a
                            >
                        </p>
                    </div>
                </div>
            </div>
            <!-- Пагинация -->
            <div
                class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-block-micro"
                th:replace="~{fragments/pagination :: pagination}"
            >
                <h3>Статический блок для просмотра в браузере</h3>
            </div>
        </div>

        <!-- ---------------------------------------- Футер ---------------------------------------- -->
        <div th:replace="~{fragments/footer :: footer}">
            <div
                class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-footer mt-5"
            >
                <h3>Статический футер для просмотра в браузере</h3>
            </div>
        </div>

        <script
            src="../static/js/bootstrap.bundle.min.js"
            th:src="@{/js/bootstrap.bundle.min.js}"
        ></script>
    </body>
</html>
