<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Главная</title>
        <link
            href="../static/css/bootstrap.min.css"
            th:href="@{/css/bootstrap.min.css}"
            rel="stylesheet"
        />
        <link
            href="../static/css/style.css"
            th:href="@{/css/style.css}"
            rel="stylesheet"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="../static/favicon/apple-touch-icon.png"
            th:href="@{/favicon/apple-touch-icon.png}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="../static/favicon/favicon-32x32.png"
            th:href="@{/favicon/favicon-32x32.png}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="../static/favicon/favicon-16x16.png"
            th:href="@{/favicon/favicon-16x16.png}"
        />
    </head>

    <body
        class="min-vh-100 bg-lightgray d-flex flex-column justify-content-between"
    >
        <!-- ---------------------------------------- Заголовок ---------------------------------------- -->
        <div
            th:replace="${currentUser} ? ~{fragments/auth-header :: auth-header} : ~{fragments/anon-header :: anon-header}"
        >
            <div
                class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-header mb-5"
            >
                <h3>Статический заголовок для просмотра в браузере</h3>
            </div>
        </div>

        <!-- ---------------------------------------- Основная часть страницы ---------------------------------------- -->
        <div class="container text-white break-word">
            <div class="row">
                <!-- Топ пользователей -->
                <div class="col-12 col-md-6 col-lg-5 mb-5 mb-md-5 mb-lg-0">
                    <div class="bg-dark rounded text-center fw-bold mb-2">
                        <p>Топ пользователей</p>
                    </div>
                    <!-- Динамический просмотр -->
                    <div th:each="each, status : ${topUsers}">
                        <div
                            th:insert="~{fragments/user :: user (user = ${each})}"
                            th:classappend="${!status.last} ? mb-2"
                        ></div>
                    </div>
                    <!-- Статический просмотр -->
                    <div
                        th:if="${false}"
                        class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-block-micro mb-2"
                    >
                        <h6>Статический блок для просмотра в браузере</h6>
                    </div>
                    <div
                        th:if="${false}"
                        class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-block-micro mb-2"
                    >
                        <h6>Статический блок для просмотра в браузере</h6>
                    </div>
                    <div
                        th:if="${false}"
                        class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-block-micro mb-2"
                    >
                        <h6>Статический блок для просмотра в браузере</h6>
                    </div>
                </div>
                <!-- Недавние сообщения -->
                <div class="col-12 col-md-6 col-lg-5 mb-5 mb-md-5 mb-lg-0">
                    <div class="bg-dark rounded text-center fw-bold mb-2">
                        <p>Недавние сообщения</p>
                    </div>
                    <!-- Динамический просмотр -->
                    <div th:each="each, status : ${recentMessages}">
                        <div
                            th:insert="~{fragments/message :: message (message = ${each})}"
                            th:classappend="${!status.last} ? mb-2"
                        ></div>
                    </div>
                    <!-- Статический просмотр -->
                    <div
                        th:if="${false}"
                        class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-block-micro mb-2"
                    >
                        <h6>Статический блок для просмотра в браузере</h6>
                    </div>
                    <div
                        th:if="${false}"
                        class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-block-micro mb-2"
                    >
                        <h6>Статический блок для просмотра в браузере</h6>
                    </div>
                    <div
                        th:if="${false}"
                        class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-block-micro mb-2"
                    >
                        <h6>Статический блок для просмотра в браузере</h6>
                    </div>
                </div>
                <!-- Статистика -->
                <div class="col-12 col-md-12 col-lg-2 text-center">
                    <div class="bg-dark rounded text-center fw-bold mb-2">
                        <p>Статистика</p>
                    </div>
                    <div class="fs-14">
                        <!-- Всего пользователей -->
                        <div class="bg-dark rounded p-1 mb-2">
                            <div class="border-bottom border-white fw-bold">
                                <span>Всего пользователей</span>
                            </div>
                            <div>
                                <span th:text="${usersCount}">12842</span>
                            </div>
                        </div>
                        <!-- Из них обычных -->
                        <div class="bg-dark rounded p-1 mb-2">
                            <div class="border-bottom border-white fw-bold">
                                <span>Из них обычных</span>
                            </div>
                            <div>
                                <span th:text="${usualUsersCount}">1001</span>
                            </div>
                        </div>
                        <!-- Из них администраторов -->
                        <div class="bg-dark rounded p-1 mb-2">
                            <div class="border-bottom border-white fw-bold">
                                <span>Из них администраторов</span>
                            </div>
                            <div>
                                <span th:text="${adminsCount}">4</span>
                            </div>
                        </div>
                        <!-- Из них модераторов -->
                        <div class="bg-dark rounded p-1 mb-2">
                            <div class="border-bottom border-white fw-bold">
                                <span>Из них модераторов</span>
                            </div>
                            <div>
                                <span th:text="${modersCount}">17</span>
                            </div>
                        </div>
                        <!-- Разделов -->
                        <div class="bg-dark rounded p-1 mb-2">
                            <div class="border-bottom border-white fw-bold">
                                <span>Разделов</span>
                            </div>
                            <div>
                                <span th:text="${sectionsCount}">6</span>
                            </div>
                        </div>
                        <!-- Тем -->
                        <div class="bg-dark rounded p-1 mb-2">
                            <div class="border-bottom border-white fw-bold">
                                <span>Тем</span>
                            </div>
                            <div>
                                <span th:text="${topicsCount}">224</span>
                            </div>
                        </div>
                        <!-- Сообщений -->
                        <div class="bg-dark rounded p-1 mb-2">
                            <div class="border-bottom border-white fw-bold">
                                <span>Сообщений</span>
                            </div>
                            <div>
                                <span th:text="${messagesCount}">99821</span>
                            </div>
                        </div>
                        <!-- Лайков -->
                        <div class="bg-dark rounded p-1 mb-2">
                            <div class="border-bottom border-white fw-bold">
                                <span>Лайков</span>
                            </div>
                            <div>
                                <span th:text="${likesCount}">471082</span>
                            </div>
                        </div>
                        <!-- Дизлайков -->
                        <div class="bg-dark rounded p-1 mb-2">
                            <div class="border-bottom border-white fw-bold">
                                <span>Дизлайков</span>
                            </div>
                            <div>
                                <span th:text="${dislikesCount}">110232</span>
                            </div>
                        </div>
                        <!-- Выдано банов -->
                        <div class="bg-dark rounded p-1 mb-2">
                            <div class="border-bottom border-white fw-bold">
                                <span>Выдано банов</span>
                            </div>
                            <div>
                                <span th:text="${bansCount}">921</span>
                            </div>
                        </div>
                        <!-- Сейчас в бане -->
                        <div class="bg-dark rounded p-1 mb-2">
                            <div class="border-bottom border-white fw-bold">
                                <span>Сейчас в бане</span>
                            </div>
                            <div>
                                <span th:text="${currentBansCount}">19</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ---------------------------------------- Футер ---------------------------------------- -->
        <div th:replace="~{fragments/footer :: footer}">
            <div
                class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-footer mt-5"
            >
                <h3>Статический футер для просмотра в браузере</h3>
            </div>
        </div>

        <script
            src="../static/js/bootstrap.bundle.min.js"
            th:src="@{/js/bootstrap.bundle.min.js}"
        ></script>
    </body>
</html>
