<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Вход</title>
        <link
            href="../static/css/bootstrap.min.css"
            th:href="@{/css/bootstrap.min.css}"
            rel="stylesheet"
        />
        <link
            href="../static/css/style.css"
            th:href="@{/css/style.css}"
            rel="stylesheet"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="../static/favicon/apple-touch-icon.png"
            th:href="@{/favicon/apple-touch-icon.png}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="../static/favicon/favicon-32x32.png"
            th:href="@{/favicon/favicon-32x32.png}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="../static/favicon/favicon-16x16.png"
            th:href="@{/favicon/favicon-16x16.png}"
        />
    </head>

    <body
        class="min-vh-100 bg-lightgray d-flex flex-column justify-content-between"
    >
        <!-- ---------------------------------------- Заголовок ---------------------------------------- -->
        <div
            th:replace="${currentUser} ? ~{fragments/auth-header :: auth-header} : ~{fragments/anon-header :: anon-header}"
        >
            <div
                class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-header mb-5"
            >
                <h3>Статический заголовок для просмотра в браузере</h3>
            </div>
        </div>

        <!-- ---------------------------------------- Основная часть страницы ---------------------------------------- -->
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8 col-lg-5 mx-auto">
                    <!-- Непосредственно блок входа -->
                    <div class="bg-dark text-white rounded px-3 py-2">
                        <!-- Заголовок и картинка "на главную" -->
                        <div
                            class="d-flex flex-row justify-content-between border-bottom border-white"
                        >
                            <!-- Заголовок -->
                            <div>
                                <h5 class="mb-1">Вход</h5>
                                <p class="mb-2">Введите логин и пароль</p>
                            </div>
                            <!-- Картинка "на главную" -->
                            <div>
                                <a href="/index.html" th:href="@{/}">
                                    <img
                                        src="../static/img/волк.png"
                                        th:src="@{/img/волк.png}"
                                        alt="На главную"
                                        width="48"
                                        class="mb-2"
                                    />
                                </a>
                            </div>
                        </div>
                        <!-- Блок с ошибкой входа или с информацией о том, что пользователь вышел -->
                        <div class="text-center mt-4" th:if="${param.error}">
                            <p class="text-red">
                                Неверное имя пользователя или пароль
                            </p>
                        </div>
                        <div class="text-center mt-4" th:if="${param.logout}">
                            <p class="text-blue">Вы вышли из аккаунта</p>
                        </div>
                        <!-- Форма -->
                        <form
                            action="#"
                            th:action="@{/auth/login/processing}"
                            method="post"
                            class="my-3"
                        >
                            <!-- Логин -->
                            <div class="text-center mb-3">
                                <label for="username" class="form-label"
                                    >Логин</label
                                >
                                <input
                                    id="username"
                                    type="text"
                                    name="username"
                                    class="form-control"
                                    placeholder="example@yandex.ru"
                                />
                            </div>
                            <!-- Пароль -->
                            <div class="text-center mb-4">
                                <label for="password" class="form-label"
                                    >Пароль</label
                                >
                                <input
                                    id="password"
                                    type="password"
                                    class="form-control"
                                    name="password"
                                    placeholder="Jdk37#@anxndfjr87la"
                                />
                            </div>
                            <!-- Кнопка отправки и предложение запомнить пользователя -->
                            <div
                                class="d-flex flex-row justify-content-between mb-4"
                            >
                                <!-- Кнопка отправки -->
                                <button type="submit" class="btn btn-primary">
                                    Отправить
                                </button>
                                <!-- Предложение запомнить пользователя -->
                                <div>
                                    <input type="checkbox" id="rememberMe" />
                                    <label for="rememberMe"
                                        >Запомнить меня</label
                                    >
                                </div>
                            </div>
                        </form>
                        <!-- Кнопка отправки и предложение запомнить пользователя -->
                        <div class="text-center border-top border-white pt-2">
                            <div>
                                <span>Забыли пароль?</span>
                                <a href="#" th:href="@{/auth/password-recovery}"
                                    >Восстановление пароля</a
                                >
                            </div>
                            <div>
                                <span>Нет аккаунта?</span>
                                <a href="#" th:href="@{/auth/registration}"
                                    >Регистрация</a
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ---------------------------------------- Футер ---------------------------------------- -->
        <div th:replace="~{fragments/footer :: footer}">
            <div
                class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-footer mt-5"
            >
                <h3>Статический футер для просмотра в браузере</h3>
            </div>
        </div>

        <script
            src="../static/js/bootstrap.bundle.min.js"
            th:src="@{/js/bootstrap.bundle.min.js}"
        ></script>
    </body>
</html>
