<!DOCTYPE html>

<html
    lang="en"
    xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Сообщения</title>
        <link
            href="../static/css/bootstrap.min.css"
            th:href="@{/css/bootstrap.min.css}"
            rel="stylesheet"
        />
        <link
            href="../static/css/style.css"
            th:href="@{/css/style.css}"
            rel="stylesheet"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="../static/favicon/apple-touch-icon.png"
            th:href="@{/favicon/apple-touch-icon.png}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="../static/favicon/favicon-32x32.png"
            th:href="@{/favicon/favicon-32x32.png}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="../static/favicon/favicon-16x16.png"
            th:href="@{/favicon/favicon-16x16.png}"
        />
    </head>

    <body
        class="min-vh-100 bg-lightgray d-flex flex-column justify-content-between"
    >
        <!-- ---------------------------------------- Заголовок ---------------------------------------- -->
        <div
            th:replace="${currentUser} ? ~{fragments/auth-header :: auth-header} : ~{fragments/anon-header :: anon-header}"
        >
            <div
                class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-header mb-5"
            >
                <h3>Статический заголовок для просмотра в браузере</h3>
            </div>
        </div>

        <!-- ---------------------------------------- Основная часть страницы ---------------------------------------- -->
        <div class="container">
            <!-- Текущая тема и поиск -->
            <div
                class="d-flex flex-row flex-wrap align-items-center justify-content-center justify-content-lg-between mb-5"
            >
                <!-- Текущая тема -->
                <div class="text-center m-2">
                    <h2
                        th:text="'Текущая тема: ' + '&quot;' + ${topicName} + '&quot;'"
                    >
                        Текущая тема: "Главная"
                    </h2>
                </div>
                <!-- Поиск -->
                <div class="m-2" th:insert="~{fragments/search :: search}">
                    <div
                        class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-block-micro"
                    >
                        <h3>Статический блок для просмотра в браузере</h3>
                    </div>
                </div>
            </div>
            <!-- Блок с возможными ошибками -->
            <div
                th:if="${error}"
                class="text-center text-red fs-20 fw-bold mb-5"
            >
                <span th:text="${error}">Текст ошибки</span>
            </div>
            <!-- Сортировка -->
            <div
                th:insert="~{fragments/sort :: sort}"
                class="col-12 col-md-8 col-lg-6 mx-auto mb-5"
            >
                <div
                    class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-block-micro"
                >
                    <h3>Статический блок для просмотра в браузере</h3>
                </div>
            </div>
            <!-- Форма отправки сообщения -->
            <div
                sec:authorize="hasAuthority('WORK_WITH_OWN_MESSAGES')"
                class="bg-dark text-white fs-14 rounded d-flex flex-row justify-content-between p-2 mb-5"
            >
                <!-- Имя пользователя и аватарка -->
                <div
                    class="border-end border-white text-center left-message-block break-word pe-2 me-2"
                >
                    <!-- Имя пользователя -->
                    <div class="border-bottom border-white pb-1 mb-2">
                        <a
                            href="#"
                            th:href="@{/users/__${currentUser.id}__}"
                            class="text-white text-decoration-none"
                            th:text="${currentUser.nickname}"
                            >Имя пользователя</a
                        >
                    </div>
                    <!-- Аватарка -->
                    <div>
                        <img
                            src="../static/img/природа.png"
                            th:src="@{/img/природа.png}"
                            alt="Пользователь"
                            class="rounded-circle"
                            width="72"
                        />
                    </div>
                </div>
                <!-- Сама форма -->
                <form
                    action="#"
                    th:action="@{/sections/__${sectionId}__/topics/__${topicId}__/messages/page__${currentPage}__/inner/save}"
                    method="post"
                    class="text-center flex-fill px-2 mt-1"
                    th:object="${message}"
                >
                    <input type="hidden" th:field="*{id}" />
                    <!-- Ввод текста сообщения и кнопка отправки -->
                    <div class="mb-2">
                        <div
                            class="d-flex flex-row align-items-center justify-content-between mb-1"
                        >
                            <label for="message" class="form-label me-1 fs-16"
                                >Введите сообщение</label
                            >
                            <!-- Кнопка отправки -->
                            <div class="ms-1">
                                <button
                                    type="submit"
                                    class="btn btn-sm btn-primary"
                                    th:text="${formSubmitButtonText}"
                                >
                                    Отправить сообщение
                                </button>
                            </div>
                        </div>
                        <!-- Ввод текста сообщения -->
                        <textarea
                            id="message"
                            class="form-control fs-14"
                            placeholder="Какое-нибудь сообщение длиной не менее 15-ти символов..."
                            th:field="*{text}"
                        ></textarea>
                    </div>
                    <!-- Блок с возможными ошибками -->
                    <div th:if="${formError}" class="text-center text-red mb-2">
                        <span th:text="${formError}">Текст ошибки</span>
                    </div>
                </form>
            </div>
            <!-- Список сообщений -->
            <div class="mb-5">
                <!-- Динамический просмотр -->
                <div th:each="each, status : ${messages}">
                    <div
                        th:insert="~{fragments/message :: message (message = ${each})}"
                        th:classappend="${!status.last} ? mb-2"
                    ></div>
                </div>
                <!-- Статический просмотр -->
                <div
                    th:if="${false}"
                    class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-block-mini mb-2"
                >
                    <h3>Статический блок для просмотра в браузере</h3>
                </div>
                <div
                    th:if="${false}"
                    class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-block-mini mb-2"
                >
                    <h3>Статический блок для просмотра в браузере</h3>
                </div>
                <div
                    th:if="${false}"
                    class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-block-mini"
                >
                    <h3>Статический блок для просмотра в браузере</h3>
                </div>
            </div>
            <!-- Пагинация -->
            <div
                th:replace="~{fragments/pagination :: pagination(urlPart = '/sections/__${sectionId}__/topics/__${topicId}__/messages')}"
                class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-block-micro"
            >
                <h3>Статический блок для просмотра в браузере</h3>
            </div>
        </div>

        <!-- ---------------------------------------- Футер ---------------------------------------- -->
        <div th:replace="~{fragments/footer :: footer}">
            <div
                class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-footer mt-5"
            >
                <h3>Статический футер для просмотра в браузере</h3>
            </div>
        </div>

        <script
            src="../static/js/bootstrap.bundle.min.js"
            th:src="@{/js/bootstrap.bundle.min.js}"
        ></script>
    </body>
</html>
