<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Профиль</title>
        <link
            href="../static/css/bootstrap.min.css"
            th:href="@{/css/bootstrap.min.css}"
            rel="stylesheet"
        />
        <link
            href="../static/css/style.css"
            th:href="@{/css/style.css}"
            rel="stylesheet"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="../static/favicon/apple-touch-icon.png"
            th:href="@{/favicon/apple-touch-icon.png}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="../static/favicon/favicon-32x32.png"
            th:href="@{/favicon/favicon-32x32.png}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="../static/favicon/favicon-16x16.png"
            th:href="@{/favicon/favicon-16x16.png}"
        />
    </head>

    <body
        class="min-vh-100 bg-lightgray d-flex flex-column justify-content-between"
    >
        <!-- ---------------------------------------- Заголовок ---------------------------------------- -->
        <div
            th:replace="${currentUser} ? ~{fragments/auth-header :: auth-header} : ~{fragments/anon-header :: anon-header}"
        >
            <div
                class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-header mb-5"
            >
                <h3>Статический заголовок для просмотра в браузере</h3>
            </div>
        </div>

        <!-- ---------------------------------------- Основная часть страницы ---------------------------------------- -->
        <div class="container text-center text-white break-word">
            <!-- Заголовок профиля -->
            <div class="row mb-5 mb-md-5 mb-lg-2">
                <div class="col-12">
                    <div
                        th:replace="~{fragments/user :: user (user = ${userForProfile})}"
                        class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-block-micro mb-2"
                    >
                        <h3>Статический блок для просмотра в браузере</h3>
                    </div>
                </div>
            </div>
            <!-- Основная часть -->
            <div class="row">
                <!-- Информация из регистрации -->
                <div class="col-12 col-md-12 col-lg-2 mb-5 mb-md-5 mb-lg-0">
                    <div class="fs-14">
                        <!-- Почта -->
                        <div
                            th:if="${currentUser != null AND userForProfile.id == currentUser.id}"
                            class="bg-dark rounded p-1 mb-2"
                        >
                            <div class="border-bottom border-white fw-bold">
                                <span>Почта</span>
                            </div>
                            <div>
                                <span th:text="${userForProfile.email}"
                                    >example0@yandex.ru</span
                                >
                            </div>
                        </div>
                        <!-- Имя -->
                        <div class="bg-dark rounded p-1 mb-2">
                            <div class="border-bottom border-white fw-bold">
                                <span>Имя</span>
                            </div>
                            <div>
                                <span
                                    th:text="${userForProfile.userInformation.name}"
                                    >Иванов Иван</span
                                >
                            </div>
                        </div>
                        <!-- Пол -->
                        <div class="bg-dark rounded p-1 mb-2">
                            <div class="border-bottom border-white fw-bold">
                                <span>Пол</span>
                            </div>
                            <div>
                                <span
                                    th:text="${userForProfile.userInformation.gender.alias}"
                                    >Мужской</span
                                >
                            </div>
                        </div>
                        <!-- Дата рождения -->
                        <div class="bg-dark rounded p-1 mb-2">
                            <div class="border-bottom border-white fw-bold">
                                <span>Дата рождения</span>
                            </div>
                            <div>
                                <span
                                    th:text="${userForProfile.userInformation.dateOfBirth}"
                                    >25.11.2001</span
                                >
                            </div>
                        </div>
                        <!-- Страна -->
                        <div class="bg-dark rounded p-1 mb-2">
                            <div class="border-bottom border-white fw-bold">
                                <span>Страна</span>
                            </div>
                            <div>
                                <span
                                    th:text="${userForProfile.userInformation.country}"
                                    >Россия</span
                                >
                            </div>
                        </div>
                        <!-- Город -->
                        <div class="bg-dark rounded p-1 mb-5">
                            <div class="border-bottom border-white fw-bold">
                                <span>Город</span>
                            </div>
                            <div>
                                <span
                                    th:text="${userForProfile.userInformation.city}"
                                    >Санкт-Петербург</span
                                >
                            </div>
                        </div>
                        <!-- Все отправленные сообщения -->
                        <div class="mb-2">
                            <a
                                class="btn btn-primary"
                                href="#"
                                th:href="@{/users/__${userForProfile.id}__/contributions/messages/posted}"
                                >Все отправленные сообщения</a
                            >
                        </div>
                        <!-- Все понравившиеся сообщения -->
                        <div class="mb-2">
                            <a
                                class="btn btn-primary"
                                href="#"
                                th:href="@{/users/__${userForProfile.id}__/contributions/messages/liked}"
                                >Все понравившиеся сообщения</a
                            >
                        </div>
                        <!-- Все не понравившиеся сообщения -->
                        <div class="mb-2">
                            <a
                                class="btn btn-primary"
                                href="#"
                                th:href="@{/users/__${userForProfile.id}__/contributions/messages/disliked}"
                                >Все не понравившиеся сообщения</a
                            >
                        </div>
                        <!-- Все созданные темы -->
                        <div class="mb-2">
                            <a
                                class="btn btn-primary"
                                href="#"
                                th:href="@{/users/__${userForProfile.id}__/contributions/topics/created}"
                                >Все созданные темы</a
                            >
                        </div>
                        <!-- Все созданные разделы -->
                        <div
                            class="mb-2"
                            th:if="${userForProfile.hasAuthority('WORK_WITH_SECTIONS')}"
                        >
                            <a
                                class="btn btn-primary"
                                href="#"
                                th:href="@{/users/__${userForProfile.id}__/contributions/sections/created}"
                                >Все созданные разделы</a
                            >
                        </div>
                    </div>
                </div>
                <!-- Недавние отправленные сообщения -->
                <div class="col-12 col-md-12 col-lg-4 mb-5 mb-md-5 mb-lg-0">
                    <div class="bg-dark rounded text-center fw-bold mb-2">
                        <p>Недавние отправленные сообщения</p>
                    </div>
                    <!-- Динамический просмотр -->
                    <div
                        th:each="each, status : ${userForProfile.recentMessages}"
                    >
                        <div
                            th:classappend="${!status.last} ? mb-2"
                            th:insert="~{fragments/message :: message (message = ${each})}"
                        ></div>
                    </div>
                    <!-- Статический просмотр -->
                    <div
                        class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-block-micro mb-2"
                        th:if="${false}"
                    >
                        <h6>Статический блок для просмотра в браузере</h6>
                    </div>
                    <div
                        class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-block-micro mb-2"
                        th:if="${false}"
                    >
                        <h6>Статический блок для просмотра в браузере</h6>
                    </div>
                    <div
                        class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-block-micro"
                        th:if="${false}"
                    >
                        <h6>Статический блок для просмотра в браузере</h6>
                    </div>
                </div>
                <!-- Недавние понравившиеся сообщения -->
                <div class="col-12 col-md-12 col-lg-4 mb-5 mb-md-5 mb-lg-0">
                    <div class="bg-dark rounded text-center fw-bold mb-2">
                        <p>Недавние понравившиеся сообщения</p>
                    </div>
                    <!-- Динамический просмотр -->
                    <div
                        th:each="each, status : ${userForProfile.recentLikedMessages}"
                    >
                        <div
                            th:classappend="${!status.last} ? mb-2"
                            th:insert="~{fragments/message :: message (message = ${each})}"
                        ></div>
                    </div>
                    <!-- Статический просмотр -->
                    <div
                        class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-block-micro mb-2"
                        th:if="${false}"
                    >
                        <h6>Статический блок для просмотра в браузере</h6>
                    </div>
                    <div
                        class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-block-micro mb-2"
                        th:if="${false}"
                    >
                        <h6>Статический блок для просмотра в браузере</h6>
                    </div>
                    <div
                        class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-block-micro"
                        th:if="${false}"
                    >
                        <h6>Статический блок для просмотра в браузере</h6>
                    </div>
                </div>
                <!-- Подробная статистика -->
                <div
                    class="text-center text-white fs-14 col-12 col-md-12 col-lg-2"
                >
                    <!-- Лайков заработано -->
                    <div class="bg-dark rounded p-1 mb-2">
                        <div class="border-bottom border-white fw-bold">
                            <span>Лайков заработано</span>
                        </div>
                        <div>
                            <span th:text="${userForProfile.likesCount}"
                                >1032</span
                            >
                        </div>
                    </div>
                    <!-- Дизлайков заработано -->
                    <div class="bg-dark rounded p-1 mb-2">
                        <div class="border-bottom border-white fw-bold">
                            <span>Дизлайков заработано</span>
                        </div>
                        <div>
                            <span th:text="${userForProfile.dislikesCount}"
                                >132</span
                            >
                        </div>
                    </div>
                    <!-- Репутация -->
                    <div class="bg-dark rounded p-1 mb-2">
                        <div class="border-bottom border-white fw-bold">
                            <span>Репутация</span>
                        </div>
                        <div>
                            <span th:text="${userForProfile.reputation}"
                                >900</span
                            >
                        </div>
                    </div>
                    <!-- Лайков поставлено -->
                    <div class="bg-dark rounded p-1 mb-2">
                        <div class="border-bottom border-white fw-bold">
                            <span>Лайков поставлено</span>
                        </div>
                        <div>
                            <span th:text="${userForProfile.assignedLikesCount}"
                                >2093</span
                            >
                        </div>
                    </div>
                    <!-- Дизлайков поставлено -->
                    <div class="bg-dark rounded p-1 mb-2">
                        <div class="border-bottom border-white fw-bold">
                            <span>Дизлайков поставлено</span>
                        </div>
                        <div>
                            <span
                                th:text="${userForProfile.assignedDislikesCount}"
                                >15322</span
                            >
                        </div>
                    </div>
                    <!-- Сообщений отправлено -->
                    <div class="bg-dark rounded p-1 mb-2">
                        <div class="border-bottom border-white fw-bold">
                            <span>Сообщений отправлено</span>
                        </div>
                        <div>
                            <span th:text="${userForProfile.messagesCount}"
                                >881</span
                            >
                        </div>
                    </div>
                    <!-- Тем создано -->
                    <div class="bg-dark rounded p-1 mb-2">
                        <div class="border-bottom border-white fw-bold">
                            <span>Тем создано</span>
                        </div>
                        <div>
                            <span th:text="${userForProfile.topicsCount}"
                                >22</span
                            >
                        </div>
                    </div>
                    <!-- Разделов создано -->
                    <div
                        class="bg-dark rounded p-1 mb-2"
                        sec:authorize="hasAuthority('WORK_WITH_SECTIONS')"
                    >
                        <div class="border-bottom border-white fw-bold">
                            <span>Разделов создано</span>
                        </div>
                        <div>
                            <span th:text="${userForProfile.sectionsCount}"
                                >2</span
                            >
                        </div>
                    </div>
                    <!-- Пользователей забанено -->
                    <div
                        class="bg-dark rounded p-1 mb-2"
                        sec:authorize="hasAuthority('BAN_AND_UNBAN')"
                    >
                        <div class="border-bottom border-white fw-bold">
                            <span>Пользователей забанено</span>
                        </div>
                        <div>
                            <span th:text="${userForProfile.assignedBansCount}"
                                >34</span
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ---------------------------------------- Футер ---------------------------------------- -->
        <div th:replace="~{fragments/footer :: footer}">
            <div
                class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-footer mt-5"
            >
                <h3>Статический футер для просмотра в браузере</h3>
            </div>
        </div>

        <script
            src="../static/js/bootstrap.bundle.min.js"
            th:src="@{/js/bootstrap.bundle.min.js}"
        ></script>
    </body>
</html>
