<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Управление ролями и правами</title>
        <link
            href="../static/css/bootstrap.min.css"
            th:href="@{/css/bootstrap.min.css}"
            rel="stylesheet"
        />
        <link
            href="../static/css/style.css"
            th:href="@{/css/style.css}"
            rel="stylesheet"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="../static/favicon/apple-touch-icon.png"
            th:href="@{/favicon/apple-touch-icon.png}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="../static/favicon/favicon-32x32.png"
            th:href="@{/favicon/favicon-32x32.png}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="../static/favicon/favicon-16x16.png"
            th:href="@{/favicon/favicon-16x16.png}"
        />
        <link
            href="../static/favicon/site.webmanifest"
            th:href="@{/favicon/site.webmanifest}"
            rel="manifest"
        />
    </head>

    <body
        class="min-vh-100 vh-100 bg-lightgray d-flex flex-column justify-content-between"
    >
        <!-- ---------------------------------------- Заголовок ---------------------------------------- -->
        <div
            th:replace="${currentUser} ? ~{fragments/auth-header :: auth-header} : ~{fragments/anon-header :: anon-header}"
        >
            <div
                class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-header mb-5"
            >
                <h3>Статический заголовок для просмотра в браузере</h3>
            </div>
        </div>

        <!-- ---------------------------------------- Основная часть страницы ---------------------------------------- -->
        <div class="container text-white">
            <div class="row">
                <!-- Работа с ролями -->
                <div class="col-12 col-md-6 col-lg-6 mb-5 mb-md-0 mb-lg-0">
                    <div class="bg-dark rounded p-2">
                        <!-- Список ролей -->
                        <div class="break-all mb-5" th:each="each : ${roles}">
                            <!-- Название роли и кнопки редактирования и удаления -->
                            <div class="mb-2">
                                <div
                                    class="d-flex flex-row align-items-center justify-content-center pb-1"
                                >
                                    <!-- Название роли -->
                                    <div class="fs-20 fw-bold m-1">
                                        <span th:text="${each.name}"
                                            >ROLE_SOME_ROLE</span
                                        >
                                    </div>
                                    <!-- Кнопки редактирования и удаления -->
                                    <div
                                        th:replace="~{fragments/buttons :: edit-delete
                                        (editFormUrl = '@{/roles-authorities/inner/role/edit/__${each.id}__}',
                                        deleteFormUrl = '@{/roles-authorities/inner/role/delete/__${each.id}__}')}"
                                        class="d-flex flex-row align-items-center justify-content-between"
                                    >
                                        <!-- Статический просмотр -->
                                        <div>
                                            <button
                                                class="btn btn-sm btn-success m-1"
                                            >
                                                Edit
                                            </button>
                                        </div>
                                        <div>
                                            <button
                                                class="btn btn-sm btn-danger m-1"
                                            >
                                                Delete
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!-- Список прав для данной роли -->
                                <ul
                                    class="list-group fs-14"
                                    th:each="each2 : ${each.authorities}"
                                >
                                    <li class="list-group-item">
                                        <span th:text="${each2.name}"
                                            >SOME_AUTHORITY</span
                                        >
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Форма создания роли -->
                        <form
                            action="#"
                            th:action="@{/roles-authorities/inner/role/create}"
                            method="post"
                            th:object="${role}"
                        >
                            <!-- Метка, ввод названия роли и кнопка отправки -->
                            <div class="mb-2">
                                <label for="role" class="form-label m-1"
                                    >Название роли</label
                                >
                                <div
                                    id="role"
                                    class="d-flex flex-row justify-content-between"
                                >
                                    <div class="flex-fill m-1">
                                        <input
                                            type="text"
                                            class="form-control"
                                            placeholder="ROLE_USER"
                                            th:field="*{name}"
                                        />
                                    </div>
                                    <div class="m-1">
                                        <button
                                            type="submit"
                                            class="btn btn-primary"
                                        >
                                            Создать роль
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- Чекбоксы выбора прав для роли -->
                            <div
                                id="selectedAuthorities"
                                class="form-check ms-1"
                                th:each="each : ${authorities}"
                                name="selectedAuthorities"
                            >
                                <!-- Динамический и статический просмотр -->
                                <input
                                    id="staticCheck"
                                    type="checkbox"
                                    class="form-check-input"
                                    th:text="${each.name}"
                                    th:value="${each.id}"
                                />
                                <label
                                    th:if="${false}"
                                    for="staticCheck"
                                    class="form-check-label"
                                >
                                    SOME_AUTHORITY
                                </label>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Работа с правами -->
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="bg-dark rounded p-2">
                        <!-- Список прав -->
                        <div class="break-all mb-5">
                            <!-- Название права и кнопки редактирования и удаления -->
                            <div
                                class="d-flex flex-row align-items-center justify-content-center pb-1 mb-2"
                                th:each="each : ${authorities}"
                            >
                                <!-- Название права -->
                                <div class="fs-20 fw-bold mx-1">
                                    <span th:text="${each.name}"
                                        >SOME_AUTHORITY</span
                                    >
                                </div>
                                <!-- Кнопки редактирования и удаления -->
                                <div
                                    th:replace="~{fragments/buttons :: edit-delete
                                        (editFormUrl = '@{/roles-authorities/inner/authority/edit/__${each.id}__}',
                                        deleteFormUrl = '@{/roles-authorities/inner/authority/delete/__${each.id}__}')}"
                                    class="d-flex flex-row align-items-center justify-content-between"
                                >
                                    <!-- Статический просмотр -->
                                    <div>
                                        <button
                                            class="btn btn-sm btn-success m-1"
                                        >
                                            Edit
                                        </button>
                                    </div>
                                    <div>
                                        <button
                                            class="btn btn-sm btn-danger m-1"
                                        >
                                            Delete
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Форма создания права -->
                        <form
                            action="#"
                            th:action="@{/roles-authorities/inner/authority/create}"
                            method="post"
                            th:object="${authority}"
                        >
                            <label for="authority" class="form-label m-1"
                                >Название права</label
                            >
                            <div
                                id="authority"
                                class="d-flex flex-row justify-content-between"
                            >
                                <div class="flex-fill m-1">
                                    <input
                                        type="text"
                                        class="form-control"
                                        placeholder="BAN"
                                        th:field="*{name}"
                                    />
                                </div>
                                <div class="m-1">
                                    <button
                                        type="submit"
                                        class="btn btn-primary"
                                    >
                                        Создать право
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- ---------------------------------------- Футер ---------------------------------------- -->
        <div th:replace="~{fragments/footer :: footer}">
            <div
                class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-footer mt-5"
            >
                <h3>Статический футер для просмотра в браузере</h3>
            </div>
        </div>

        <script
            src="../static/js/bootstrap.bundle.min.js"
            th:src="@{/js/bootstrap.bundle.min.js}"
        ></script>
    </body>
</html>
