<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Управление ролями и правами</title>
        <link
            href="../static/css/bootstrap.min.css"
            th:href="@{/css/bootstrap.min.css}"
            rel="stylesheet"
        />
        <link
            href="../static/css/style.css"
            th:href="@{/css/style.css}"
            rel="stylesheet"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="../static/favicon/apple-touch-icon.png"
            th:href="@{/favicon/apple-touch-icon.png}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="../static/favicon/favicon-32x32.png"
            th:href="@{/favicon/favicon-32x32.png}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="../static/favicon/favicon-16x16.png"
            th:href="@{/favicon/favicon-16x16.png}"
        />
        <link
            href="../static/favicon/site.webmanifest"
            th:href="@{/favicon/site.webmanifest}"
            rel="manifest"
        />
    </head>

    <body
        class="min-vh-100 vh-100 bg-lightgray d-flex flex-column justify-content-between"
    >
        <!-- ---------------------------------------- Заголовок ---------------------------------------- -->
        <div
            th:replace="${currentUser} ? ~{fragments/auth-header :: auth-header} : ~{fragments/anon-header :: anon-header}"
        >
            <div
                class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-header mb-5"
            >
                <h3>Статический заголовок для просмотра в браузере</h3>
            </div>
        </div>

        <!-- ---------------------------------------- Основная часть страницы ---------------------------------------- -->
        <div class="container text-white">
            <div class="row">
                <!-- Работа с ролями -->
                <div class="col-12 col-md-8 col-lg-8 mb-5 mb-md-0 mb-lg-0">
                    <div class="bg-dark rounded p-2">
                        <!-- Список ролей -->
                        <div class="mb-5" th:each="each : ${roles}">
                            <div class="mb-2">
                                <div
                                    class="d-flex flex-row align-items-center justify-content-center pb-1"
                                >
                                    <div class="fs-20 fw-bold mx-1">
                                        <span>MODER</span>
                                    </div>
                                    <div class="m-1">
                                        <a
                                            href="#"
                                            class="btn btn-sm btn-success"
                                        >
                                            <img
                                                src="../static/img/edit.png"
                                                alt="Редактировать"
                                                width="16"
                                                class="mb-1"
                                            />
                                        </a>
                                    </div>
                                    <div class="m-1">
                                        <a
                                            href="#"
                                            class="btn btn-sm btn-danger"
                                        >
                                            <img
                                                src="../static/img/delete.png"
                                                alt="edit"
                                                width="16"
                                                class="mb-1"
                                            />
                                        </a>
                                    </div>
                                </div>
                                <ul class="list-group fs-14">
                                    <li
                                        class="list-group-item"
                                        aria-disabled="true"
                                    >
                                        A disabled item
                                    </li>
                                    <li class="list-group-item">
                                        A second item
                                    </li>
                                    <li class="list-group-item">
                                        A third item
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Форма добавления роли -->
                        <form action="#" method="post">
                            <!-- Метка, ввода названия роли и кнопка отправки -->
                            <div class="mb-2">
                                <label for="role" class="form-label m-1"
                                    >Название роли</label
                                >
                                <div
                                    class="d-flex flex-row justify-content-between"
                                    id="role"
                                >
                                    <div class="flex-fill m-1">
                                        <input
                                            id="role"
                                            type="text"
                                            placeholder="ROLE_USER"
                                            class="form-control"
                                        />
                                    </div>
                                    <div class="m-1">
                                        <button
                                            type="submit"
                                            class="btn btn-primary"
                                        >
                                            Создать роль
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- Чекбоксы выбора прав для роли -->
                            <div
                                class="form-check ms-1"
                                th:each="each : ${role.authorities}"
                            >
                                <div>
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        value=""
                                        id="flexCheckIndeterminate"
                                    />
                                    <label
                                        class="form-check-label"
                                        for="flexCheckIndeterminate"
                                    >
                                        Authority
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Работа с правами -->
                <div class="col-12 col-md-4 col-lg-4">
                    <div class="bg-dark rounded p-2">
                        <!-- Список прав -->
                        <div class="mb-5">
                            <div
                                class="d-flex flex-row align-items-center justify-content-center pb-1 mb-2"
                            >
                                <div class="fs-20 fw-bold mx-1">
                                    <span>MODER</span>
                                </div>
                                <div class="m-1">
                                    <a href="#" class="btn btn-sm btn-success">
                                        <img
                                            src="../static/img/edit.png"
                                            alt="Редактировать"
                                            width="16"
                                            class="mb-1"
                                        />
                                    </a>
                                </div>
                                <div class="m-1">
                                    <a href="#" class="btn btn-sm btn-danger">
                                        <img
                                            src="../static/img/delete.png"
                                            alt="edit"
                                            width="16"
                                            class="mb-1"
                                        />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Форма создания права -->
                        <form action="#" method="post">
                            <label for="role" class="form-label m-1"
                                >Название права</label
                            >
                            <div
                                class="d-flex flex-row justify-content-between"
                                id="role"
                            >
                                <div class="flex-fill m-1">
                                    <input
                                        id="role"
                                        type="text"
                                        placeholder="BAN"
                                        class="form-control"
                                    />
                                </div>
                                <div class="m-1">
                                    <button
                                        type="submit"
                                        class="btn btn-primary"
                                    >
                                        Создать право
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- ---------------------------------------- Футер ---------------------------------------- -->
        <div th:replace="~{fragments/footer :: footer}">
            <div
                class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-footer mt-5"
            >
                <h3>Статический футер для просмотра в браузере</h3>
            </div>
        </div>

        <script
            src="../static/js/bootstrap.bundle.min.js"
            th:src="@{/js/bootstrap.bundle.min.js}"
        ></script>
    </body>
</html>
