<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Управление ролями и правами</title>
        <link
            href="../static/css/bootstrap.min.css"
            th:href="@{/css/bootstrap.min.css}"
            rel="stylesheet"
        />
        <link
            href="../static/css/style.css"
            th:href="@{/css/style.css}"
            rel="stylesheet"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="../static/favicon/apple-touch-icon.png"
            th:href="@{/favicon/apple-touch-icon.png}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="../static/favicon/favicon-32x32.png"
            th:href="@{/favicon/favicon-32x32.png}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="../static/favicon/favicon-16x16.png"
            th:href="@{/favicon/favicon-16x16.png}"
        />
        <link
            href="../static/favicon/site.webmanifest"
            th:href="@{/favicon/site.webmanifest}"
            rel="manifest"
        />
    </head>

    <body
        class="min-vh-100 bg-lightgray d-flex flex-column justify-content-between"
    >
        <!-- ---------------------------------------- Заголовок ---------------------------------------- -->
        <div
            th:replace="${currentUser} ? ~{fragments/auth-header :: auth-header} : ~{fragments/anon-header :: anon-header}"
        >
            <div
                class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-header mb-5"
            >
                <h3>Статический заголовок для просмотра в браузере</h3>
            </div>
        </div>

        <!-- ---------------------------------------- Основная часть страницы ---------------------------------------- -->
        <div class="container text-white">
            <div class="row">
                <!-- Работа с ролями -->
                <div class="col-12 col-md-6 col-lg-6 mb-5 mb-md-0 mb-lg-0">
                    <div class="bg-dark rounded p-2">
                        <!-- Форма создания роли -->
                        <form
                            action="#"
                            th:action="@{/roles-authorities/roles/inner/save}"
                            method="post"
                            th:object="${role}"
                            class="border-bottom border-white pb-3 mb-3"
                        >
                            <input type="hidden" th:field="*{id}" />
                            <!-- Блок с возможными ошибками -->
                            <div
                                th:if="${roleError}"
                                class="text-center text-red fs-18 fw-bold"
                            >
                                <span th:text="${roleError}">Текст ошибки</span>
                            </div>
                            <!-- Ввод названия роли и кнопка отправки -->
                            <div class="mb-2">
                                <div
                                    class="d-flex flex-row justify-content-center"
                                >
                                    <!-- Ввод названия роли -->
                                    <div class="text-center m-1">
                                        <label for="role" class="form-label"
                                            >Название роли</label
                                        >
                                        <div id="role" class="flex-fill">
                                            <input
                                                type="text"
                                                class="form-control"
                                                placeholder="ROLE_USER"
                                                th:field="*{name}"
                                            />
                                        </div>
                                    </div>
                                    <!-- Ввод псевдонима роли -->
                                    <div class="text-center m-1">
                                        <label
                                            for="roleAlias"
                                            class="form-label"
                                            >Псевдоним роли</label
                                        >
                                        <div id="roleAlias" class="flex-fill">
                                            <input
                                                type="text"
                                                class="form-control"
                                                placeholder="Пользователь"
                                                th:field="*{alias}"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <!-- Кнопка отправки -->
                                <div class="text-center mx-1 my-2">
                                    <button
                                        type="submit"
                                        class="btn btn-primary"
                                        th:text="${roleFormSubmitButtonText}"
                                    >
                                        Создать роль
                                    </button>
                                </div>
                            </div>
                            <!-- Чекбоксы выбора прав для роли -->
                            <div
                                class="form-check break-all ms-1"
                                th:each="each, status : ${authorities}"
                                th:classappend="${!status.last} ? mb-2"
                            >
                                <!-- Динамический и статический просмотр -->
                                <input
                                    id="staticCheck"
                                    type="checkbox"
                                    class="form-check-input"
                                    th:field="*{authorities}"
                                    th:text="${each.name}"
                                    th:value="${each.id}"
                                    th:checked="${role.containsAuthorityById(each.id)}"
                                />
                                <label
                                    th:if="${false}"
                                    for="staticCheck"
                                    class="form-check-label"
                                >
                                    SOME_AUTHORITY
                                </label>
                            </div>
                        </form>
                        <!-- Заголовок списка ролей -->
                        <div class="text-center fs-18 fw-bold mb-3">
                            <p>Текущий список ролей</p>
                        </div>
                        <!-- Список ролей -->
                        <div class="break-all mb-5">
                            <div class="mb-3" th:each="each : ${roles}">
                                <!-- Название роли и кнопки редактирования и удаления -->
                                <div
                                    class="d-flex flex-row align-items-center justify-content-center pb-1"
                                >
                                    <!-- Название роли -->
                                    <div class="m-1">
                                        <span
                                            th:text="${each.name} + ' (' + ${each.alias} + ')'"
                                            >ROLE_SOME_ROLE (какая-то
                                            роль)</span
                                        >
                                    </div>
                                    <!-- Кнопки редактирования и удаления -->
                                    <div
                                        th:replace="~{fragments/buttons :: edit-delete
                                            (editFormUrl = '/roles-authorities/roles/inner/edit/__${each.id}__',
                                            deleteFormUrl = '/roles-authorities/roles/inner/delete/__${each.id}__')}"
                                        class="d-flex flex-row align-items-center justify-content-between"
                                    >
                                        <!-- Статический просмотр -->
                                        <div>
                                            <button
                                                class="btn btn-sm btn-success m-1"
                                            >
                                                Edit
                                            </button>
                                        </div>
                                        <div>
                                            <button
                                                class="btn btn-sm btn-danger m-1"
                                            >
                                                Delete
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!-- Список прав для данной роли -->
                                <ul
                                    class="fs-14"
                                    th:each="each2 : ${each.authorities}"
                                >
                                    <li class="mb-1">
                                        <span th:text="${each2.name}"
                                            >SOME_AUTHORITY</span
                                        >
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Работа с правами -->
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="bg-dark rounded p-2">
                        <!-- Форма создания права -->
                        <form
                            action="#"
                            th:action="@{/roles-authorities/authorities/inner/save}"
                            method="post"
                            th:object="${authority}"
                            class="border-bottom border-white pb-3 mb-3"
                        >
                            <input type="hidden" th:field="*{id}" />
                            <!-- Блок с возможными ошибками -->
                            <div
                                th:if="${authorityError}"
                                class="text-center text-red fs-18 fw-bold"
                            >
                                <span th:text="${authorityError}"
                                    >Текст ошибки</span
                                >
                            </div>
                            <!-- Ввод названия права и кнопка отправки -->
                            <label for="authority" class="form-label m-1"
                                >Название права</label
                            >
                            <div
                                id="authority"
                                class="d-flex flex-row justify-content-between"
                            >
                                <!-- Ввод названия права -->
                                <div class="flex-fill m-1">
                                    <input
                                        type="text"
                                        class="form-control"
                                        placeholder="BAN"
                                        th:field="*{name}"
                                    />
                                </div>
                                <!-- Кнопка отправки -->
                                <div class="m-1">
                                    <button
                                        type="submit"
                                        class="btn btn-primary"
                                        th:text="${authorityFormSubmitButtonText}"
                                    >
                                        Создать право
                                    </button>
                                </div>
                            </div>
                        </form>
                        <!-- Заголовок списка прав -->
                        <div class="text-center fs-18 fw-bold mb-3">
                            <p>Текущий список прав</p>
                        </div>
                        <!-- Список прав -->
                        <div class="break-all mb-5">
                            <div class="mb-2" th:each="each : ${authorities}">
                                <!-- Название права и кнопки редактирования и удаления -->
                                <div
                                    class="d-flex flex-row align-items-center justify-content-center pb-1"
                                >
                                    <!-- Название права -->
                                    <div class="m-1">
                                        <span th:text="${each.name}"
                                            >SOME_AUTHORITY</span
                                        >
                                    </div>
                                    <!-- Кнопки редактирования и удаления -->
                                    <div
                                        th:replace="~{fragments/buttons :: edit-delete
                                            (editFormUrl = '/roles-authorities/authorities/inner/edit/__${each.id}__',
                                            deleteFormUrl = '/roles-authorities/authorities/inner/delete/__${each.id}__')}"
                                        class="d-flex flex-row align-items-center justify-content-between"
                                    >
                                        <!-- Статический просмотр -->
                                        <div>
                                            <button
                                                class="btn btn-sm btn-success m-1"
                                            >
                                                Edit
                                            </button>
                                        </div>
                                        <div>
                                            <button
                                                class="btn btn-sm btn-danger m-1"
                                            >
                                                Delete
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ---------------------------------------- Футер ---------------------------------------- -->
        <div th:replace="~{fragments/footer :: footer}">
            <div
                class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-footer mt-5"
            >
                <h3>Статический футер для просмотра в браузере</h3>
            </div>
        </div>

        <script
            src="../static/js/bootstrap.bundle.min.js"
            th:src="@{/js/bootstrap.bundle.min.js}"
        ></script>
    </body>
</html>
