<!DOCTYPE html>

<html
    lang="en"
    xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Темы</title>
        <link
            href="../static/css/bootstrap.min.css"
            th:href="@{/css/bootstrap.min.css}"
            rel="stylesheet"
        />
        <link
            href="../static/css/style.css"
            th:href="@{/css/style.css}"
            rel="stylesheet"
        />
        <link
            href="../static/favicon/apple-touch-icon.png"
            th:href="@{/favicon/apple-touch-icon.png}"
            rel="apple-touch-icon"
            sizes="180x180"
        />
        <link
            href="../static/favicon/favicon-32x32.png"
            th:href="@{/favicon/favicon-32x32.png}"
            rel="icon"
            type="image/png"
            sizes="32x32"
        />
        <link
            href="../static/favicon/favicon-16x16.png"
            th:href="@{/favicon/favicon-16x16.png}"
            rel="icon"
            type="image/png"
            sizes="16x16"
        />
    </head>

    <body
        class="min-vh-100 bg-lightgray d-flex flex-column justify-content-between"
    >
        <!-- ---------------------------------------- Заголовок ---------------------------------------- -->
        <div
            th:replace="${currentUser} ? ~{fragments/auth-header :: auth-header} : ~{fragments/anon-header :: anon-header}"
        >
            <div
                class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-header mb-5"
            >
                <h3>Статический заголовок для просмотра в браузере</h3>
            </div>
        </div>

        <!-- ---------------------------------------- Основная часть страницы ---------------------------------------- -->
        <div class="container">
            <!-- Текущий раздел, кнопка создания темы и поиск -->
            <div
                class="d-flex flex-row flex-wrap align-items-center justify-content-center justify-content-lg-between mb-5"
            >
                <!-- Текущий раздел -->
                <div class="text-center m-2">
                    <h2
                        th:text="${sectionName != null} ? 'Текущий раздел: ' + '&quot;' + ${sectionName} + '&quot;' : 'Темы'"
                    >
                        Текущий раздел: "Главный"
                    </h2>
                </div>
                <!-- Кнопка создания темы -->
                <div
                    sec:authorize="hasAuthority('WORK_WITH_OWN_TOPICS')"
                    class="m-2"
                >
                    <div>
                        <a
                            href="#"
                            th:href="@{/sections/__${sectionId}__/topics/create}"
                            class="btn btn-lg btn-primary"
                            >Создать тему</a
                        >
                    </div>
                </div>
                <!-- Поиск -->
                <div class="m-2" th:insert="~{fragments/search :: search}">
                    <div
                        class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-block-micro"
                    >
                        <h3>Статический блок для просмотра в браузере</h3>
                    </div>
                </div>
            </div>
            <!-- Блок с возможными ошибками -->
            <div
                th:if="${error}"
                class="text-center text-red fs-20 fw-bold mb-5"
            >
                <span th:text="${error}">Текст ошибки</span>
            </div>
            <!-- Сортировка -->
            <div
                class="col-12 col-md-8 col-lg-6 mx-auto mb-5"
                th:insert="~{fragments/sort :: sort}"
            >
                <div
                    class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-block-micro"
                >
                    <h3>Статический блок для просмотра в браузере</h3>
                </div>
            </div>
            <!-- Список тем -->
            <div class="mb-5">
                <!-- Динамический просмотр -->
                <div th:each="each, status : ${topics}">
                    <div
                        th:insert="~{fragments/topic :: topic (topic = ${each})}"
                        th:classappend="${!status.last} ? mb-5"
                    ></div>
                </div>
                <!-- Статический просмотр -->
                <div
                    th:if="${false}"
                    class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-block-mini mb-5"
                >
                    <h3>Статический блок для просмотра в браузере</h3>
                </div>
                <div
                    th:if="${false}"
                    class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-block-mini mb-5"
                >
                    <h3>Статический блок для просмотра в браузере</h3>
                </div>
                <div
                    th:if="${false}"
                    class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-block-mini"
                >
                    <h3>Статический блок для просмотра в браузере</h3>
                </div>
            </div>
            <!-- Пагинация -->
            <div
                th:replace="~{fragments/pagination :: pagination}"
                class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-block-micro"
            >
                <h3>Статический блок для просмотра в браузере</h3>
            </div>
        </div>

        <!-- ---------------------------------------- Футер ---------------------------------------- -->
        <div th:replace="~{fragments/footer :: footer}">
            <div
                class="bg-dark d-flex align-items-center justify-content-center text-center text-white static-footer mt-5"
            >
                <h3>Статический футер для просмотра в браузере</h3>
            </div>
        </div>

        <script
            src="../static/js/bootstrap.bundle.min.js"
            th:src="@{/js/bootstrap.bundle.min.js}"
        ></script>
    </body>
</html>
