<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Темы</title>
        <link
            href="../static/css/bootstrap.min.css"
            th:href="@{/css/bootstrap.min.css}"
            rel="stylesheet"
        />
        <link
            href="../static/css/style.css"
            th:href="@{/css/style.css}"
            rel="stylesheet"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="../static/favicon/apple-touch-icon.png"
            th:href="@{/favicon/apple-touch-icon.png}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="../static/favicon/favicon-32x32.png"
            th:href="@{/favicon/favicon-32x32.png}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="../static/favicon/favicon-16x16.png"
            th:href="@{/favicon/favicon-16x16.png}"
        />
        <link
            href="../static/favicon/site.webmanifest"
            th:href="@{/favicon/site.webmanifest}"
            rel="manifest"
        />
    </head>

    <body
        class="vh-100 min-vh-100 bg-lightgray d-flex flex-column justify-content-between"
    >
        <div th:replace="~{fragments/auth-header :: header}">
            <div
                class="bg-dark d-flex align-items-center justify-content-center text-aliceblue mb-5"
                style="height: 75px"
            >
                <h3>Статический заголовок для просмотра в браузере</h3>
            </div>
        </div>

        <div class="container">
            <div class="row mb-5">
                <div class="col-6 col-md-6 col-lg-6 mx-auto text-center">
                    <h2>Текущий раздел: "Главный"</h2>
                </div>
            </div>
            <div sec:authorize="hasAuthority('LATER')" class="row mb-5">
                <div class="col-6 col-md-6 col-lg-6 mx-auto text-center">
                    <div>
                        <a href="#" class="btn btn-primary btn-lg"
                            >Создать тему</a
                        >
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="bg-dark rounded text-aliceblue">
                        <div class="container-fluid">
                            <div class="row section border-bottom border-white">
                                <div
                                    class="col-12 col-md-6 col-lg-6 mb-3 mb-md-0 mb-lg-0 text-start"
                                >
                                    <div sec:authorize="hasAuthority('LATER')">
                                        <a
                                            href="#"
                                            class="text-decoration-none"
                                        >
                                            <img
                                                src="../static/img/edit.jpg"
                                                alt="edit"
                                                width="16"
                                                class="rounded-circle"
                                            />
                                        </a>
                                        <a
                                            href="#"
                                            class="text-decoration-none"
                                        >
                                            <img
                                                src="../static/img/delete.png"
                                                alt="edit"
                                                width="16"
                                                class="rounded-circle"
                                            />
                                        </a>
                                    </div>
                                    <h5 class="mb-1">
                                        <a
                                            href="#"
                                            class="text-aliceblue link-offset-2"
                                            >Флуд</a
                                        >
                                    </h5>
                                    <p class="mb-1">
                                        Lorem ipsum dolor sit amet consectetur
                                        adipisicing elit. Quisquam officiis
                                        assumenda totam, numquam architecto quod
                                        delectus enim maxime odit error.
                                    </p>
                                </div>
                                <div
                                    class="col-4 col-md-2 col-lg-2 text-start text-md-center text-lg-center"
                                >
                                    <p class="mb-1">Автор:</p>
                                    <div>
                                        <img
                                            src="../static/img/природа.png"
                                            alt="user"
                                            width="32"
                                            class="rounded-circle"
                                        />
                                        <p class="mt-1">
                                            <a href="#" class="text-aliceblue"
                                                >Имя пользователя</a
                                            >
                                        </p>
                                    </div>
                                </div>
                                <div
                                    class="col-4 col-md-2 col-lg-2 text-start text-md-center text-lg-center"
                                >
                                    <p class="mb-1">Сообщений:</p>
                                    <p class="mb-1">1847</p>
                                </div>
                                <div
                                    class="col-4 col-md-2 col-lg-2 text-start text-md-center text-lg-center"
                                >
                                    <p class="mb-1">
                                        <a href="#" class="text-aliceblue"
                                            >Недавнее сообщение</a
                                        >
                                    </p>
                                    <p class="mb-1 fs-12">24.04.2011</p>
                                </div>
                            </div>
                            <div class="row text-aliceblue text-center">
                                <p class="my-2">Создана: 19.02.2015</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="bg-dark rounded text-aliceblue">
                        <div class="container-fluid">
                            <div class="row section border-bottom border-white">
                                <div
                                    class="col-12 col-md-6 col-lg-6 mb-3 mb-md-0 mb-lg-0 text-start"
                                >
                                    <div sec:authorize="hasAuthority('LATER')">
                                        <a
                                            href="#"
                                            class="text-decoration-none"
                                        >
                                            <img
                                                src="../static/img/edit.jpg"
                                                alt="edit"
                                                width="16"
                                                class="rounded-circle"
                                            />
                                        </a>
                                        <a
                                            href="#"
                                            class="text-decoration-none"
                                        >
                                            <img
                                                src="../static/img/delete.png"
                                                alt="edit"
                                                width="16"
                                                class="rounded-circle"
                                            />
                                        </a>
                                    </div>
                                    <h5 class="mb-1">
                                        <a
                                            href="#"
                                            class="text-aliceblue link-offset-2"
                                            >Флуд</a
                                        >
                                    </h5>
                                    <p class="mb-1">
                                        Lorem ipsum dolor sit amet consectetur
                                        adipisicing elit. Quisquam officiis
                                        assumenda totam, numquam architecto quod
                                        delectus enim maxime odit error.
                                    </p>
                                </div>
                                <div
                                    class="col-4 col-md-2 col-lg-2 text-start text-md-center text-lg-center"
                                >
                                    <p class="mb-1">Автор:</p>
                                    <div>
                                        <img
                                            src="../static/img/природа.png"
                                            alt="user"
                                            width="32"
                                            class="rounded-circle"
                                        />
                                        <p class="mt-1">
                                            <a href="#" class="text-aliceblue"
                                                >Имя пользователя</a
                                            >
                                        </p>
                                    </div>
                                </div>
                                <div
                                    class="col-4 col-md-2 col-lg-2 text-start text-md-center text-lg-center"
                                >
                                    <p class="mb-1">Сообщений:</p>
                                    <p class="mb-1">1847</p>
                                </div>
                                <div
                                    class="col-4 col-md-2 col-lg-2 text-start text-md-center text-lg-center"
                                >
                                    <p class="mb-1">
                                        <a href="#" class="text-aliceblue"
                                            >Недавнее сообщение</a
                                        >
                                    </p>
                                    <p class="mb-1 fs-12">24.04.2011</p>
                                </div>
                            </div>
                            <div class="row text-aliceblue text-center">
                                <p class="my-2">Создана: 19.02.2015</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="bg-dark rounded text-aliceblue">
                        <div class="container-fluid">
                            <div class="row section border-bottom border-white">
                                <div
                                    class="col-12 col-md-6 col-lg-6 mb-3 mb-md-0 mb-lg-0 text-start"
                                >
                                    <div sec:authorize="hasAuthority('LATER')">
                                        <a
                                            href="#"
                                            class="text-decoration-none"
                                        >
                                            <img
                                                src="../static/img/edit.jpg"
                                                alt="edit"
                                                width="16"
                                                class="rounded-circle"
                                            />
                                        </a>
                                        <a
                                            href="#"
                                            class="text-decoration-none"
                                        >
                                            <img
                                                src="../static/img/delete.png"
                                                alt="edit"
                                                width="16"
                                                class="rounded-circle"
                                            />
                                        </a>
                                    </div>
                                    <h5 class="mb-1">
                                        <a
                                            href="#"
                                            class="text-aliceblue link-offset-2"
                                            >Флуд</a
                                        >
                                    </h5>
                                    <p class="mb-1">
                                        Lorem ipsum dolor sit amet consectetur
                                        adipisicing elit. Quisquam officiis
                                        assumenda totam, numquam architecto quod
                                        delectus enim maxime odit error.
                                    </p>
                                </div>
                                <div
                                    class="col-4 col-md-2 col-lg-2 text-start text-md-center text-lg-center"
                                >
                                    <p class="mb-1">Автор:</p>
                                    <div>
                                        <img
                                            src="../static/img/природа.png"
                                            alt="user"
                                            width="32"
                                            class="rounded-circle"
                                        />
                                        <p class="mt-1">
                                            <a href="#" class="text-aliceblue"
                                                >Имя пользователя</a
                                            >
                                        </p>
                                    </div>
                                </div>
                                <div
                                    class="col-4 col-md-2 col-lg-2 text-start text-md-center text-lg-center"
                                >
                                    <p class="mb-1">Сообщений:</p>
                                    <p class="mb-1">1847</p>
                                </div>
                                <div
                                    class="col-4 col-md-2 col-lg-2 text-start text-md-center text-lg-center"
                                >
                                    <p class="mb-1">
                                        <a href="#" class="text-aliceblue"
                                            >Недавнее сообщение</a
                                        >
                                    </p>
                                    <p class="mb-1 fs-12">24.04.2011</p>
                                </div>
                            </div>
                            <div class="row text-aliceblue text-center">
                                <p class="my-2">Создана: 19.02.2015</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="bg-dark rounded text-aliceblue">
                        <div class="container-fluid">
                            <div class="row section border-bottom border-white">
                                <div
                                    class="col-12 col-md-6 col-lg-6 mb-3 mb-md-0 mb-lg-0 text-start"
                                >
                                    <div sec:authorize="hasAuthority('LATER')">
                                        <a
                                            href="#"
                                            class="text-decoration-none"
                                        >
                                            <img
                                                src="../static/img/edit.jpg"
                                                alt="edit"
                                                width="16"
                                                class="rounded-circle"
                                            />
                                        </a>
                                        <a
                                            href="#"
                                            class="text-decoration-none"
                                        >
                                            <img
                                                src="../static/img/delete.png"
                                                alt="edit"
                                                width="16"
                                                class="rounded-circle"
                                            />
                                        </a>
                                    </div>
                                    <h5 class="mb-1">
                                        <a
                                            href="#"
                                            class="text-aliceblue link-offset-2"
                                            >Флуд</a
                                        >
                                    </h5>
                                    <p class="mb-1">
                                        Lorem ipsum dolor sit amet consectetur
                                        adipisicing elit. Quisquam officiis
                                        assumenda totam, numquam architecto quod
                                        delectus enim maxime odit error.
                                    </p>
                                </div>
                                <div
                                    class="col-4 col-md-2 col-lg-2 text-start text-md-center text-lg-center"
                                >
                                    <p class="mb-1">Автор:</p>
                                    <div>
                                        <img
                                            src="../static/img/природа.png"
                                            alt="user"
                                            width="32"
                                            class="rounded-circle"
                                        />
                                        <p class="mt-1">
                                            <a href="#" class="text-aliceblue"
                                                >Имя пользователя</a
                                            >
                                        </p>
                                    </div>
                                </div>
                                <div
                                    class="col-4 col-md-2 col-lg-2 text-start text-md-center text-lg-center"
                                >
                                    <p class="mb-1">Сообщений:</p>
                                    <p class="mb-1">1847</p>
                                </div>
                                <div
                                    class="col-4 col-md-2 col-lg-2 text-start text-md-center text-lg-center"
                                >
                                    <p class="mb-1">
                                        <a href="#" class="text-aliceblue"
                                            >Недавнее сообщение</a
                                        >
                                    </p>
                                    <p class="mb-1 fs-12">24.04.2011</p>
                                </div>
                            </div>
                            <div class="row text-aliceblue text-center">
                                <p class="my-2">Создана: 19.02.2015</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="bg-dark rounded text-aliceblue">
                        <div class="container-fluid">
                            <div class="row section border-bottom border-white">
                                <div
                                    class="col-12 col-md-6 col-lg-6 mb-3 mb-md-0 mb-lg-0 text-start"
                                >
                                    <div sec:authorize="hasAuthority('LATER')">
                                        <a
                                            href="#"
                                            class="text-decoration-none"
                                        >
                                            <img
                                                src="../static/img/edit.jpg"
                                                alt="edit"
                                                width="16"
                                                class="rounded-circle"
                                            />
                                        </a>
                                        <a
                                            href="#"
                                            class="text-decoration-none"
                                        >
                                            <img
                                                src="../static/img/delete.png"
                                                alt="edit"
                                                width="16"
                                                class="rounded-circle"
                                            />
                                        </a>
                                    </div>
                                    <h5 class="mb-1">
                                        <a
                                            href="#"
                                            class="text-aliceblue link-offset-2"
                                            >Флуд</a
                                        >
                                    </h5>
                                    <p class="mb-1">
                                        Lorem ipsum dolor sit amet consectetur
                                        adipisicing elit. Quisquam officiis
                                        assumenda totam, numquam architecto quod
                                        delectus enim maxime odit error.
                                    </p>
                                </div>
                                <div
                                    class="col-4 col-md-2 col-lg-2 text-start text-md-center text-lg-center"
                                >
                                    <p class="mb-1">Автор:</p>
                                    <div>
                                        <img
                                            src="../static/img/природа.png"
                                            alt="user"
                                            width="32"
                                            class="rounded-circle"
                                        />
                                        <p class="mt-1">
                                            <a href="#" class="text-aliceblue"
                                                >Имя пользователя</a
                                            >
                                        </p>
                                    </div>
                                </div>
                                <div
                                    class="col-4 col-md-2 col-lg-2 text-start text-md-center text-lg-center"
                                >
                                    <p class="mb-1">Сообщений:</p>
                                    <p class="mb-1">1847</p>
                                </div>
                                <div
                                    class="col-4 col-md-2 col-lg-2 text-start text-md-center text-lg-center"
                                >
                                    <p class="mb-1">
                                        <a href="#" class="text-aliceblue"
                                            >Недавнее сообщение</a
                                        >
                                    </p>
                                    <p class="mb-1 fs-12">24.04.2011</p>
                                </div>
                            </div>
                            <div class="row text-aliceblue text-center">
                                <p class="my-2">Создана: 19.02.2015</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="~{fragments/footer :: footer}">
            <div
                class="bg-dark d-flex align-items-center justify-content-center text-aliceblue mt-5"
                style="height: 185px"
            >
                <h3>Статический футер для просмотра в браузере</h3>
            </div>
        </div>

        <script
            src="../static/js/bootstrap.bundle.min.js"
            th:src="@{/js/bootstrap.bundle.min.js}"
        ></script>
    </body>
</html>
